.header_area_custome{
	background-color: white !important;
}
.header_area_custome *{
	color: #777 !important;
}
.header_area_custome *:hover{
	color: #000 !important;
}
.color-synegry{
	color: rgb(59, 132, 25);
}
.special_description_content h2{
	color: rgb(59, 132, 25) !important;
}
.section-heading h2{
	color: rgb(59, 132, 25) !important;
}
.single-special h4{
	color: rgb(59, 132, 25) !important;
}
.footer-text h2{
	color: rgb(59, 132, 25) !important;
}
.get-start-area{
	margin-top: 60px;
}
.get-start-area .email{
	background: white !important;
	box-shadow: 0px 0px 10px rgb(59, 132, 25);
	color: black;
}
.sing-up-button > a{
	border: 2px solid rgb(59, 132, 25);
}
.cool_facts_area{
	background: linear-gradient(to left, rgb(59, 132, 25), rgb(57, 216, 38))
}
.our-monthly-membership{
	background: linear-gradient(to left, rgb(155, 237, 114), rgb(57, 216, 38));
}

