/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.tar
*.zip
*.rar
/stats
/logs
/vendor-old
/temp
composer.lock
php.ini
/synergypower.ir