@import"fonts-fa.css";

body {
	font-family: IRANSans, 'IRANSans', Tahoma;
	direction: rtl;
}

input, textarea, form select, button {
	font-family: IRANSans, 'IRANSans', Tahoma;
}

header, h1, h2, h3, h4, h5, h6 {
	font-family: IRANSans, 'IRANSans', Tahoma;
	font-weight: 500;
}

.menubox {
	font-family: iranyekan, 'iranyekan', Tahoma;
	font-size: 18px;
}

.menubox .navigation ul {
	letter-spacing: 0;
	font-size: 24px;
}

.header .learnmore {
	font-style: normal;
	letter-spacing: 0;
	font-weight: 100;
}

.intro-video .video-overlay .inner-text span {
	text-align: right;
}

.features-box .feature.leftside {
	text-align: right;
}

.features-box .feature header:before {
	left: auto;
	right: 0;
}

.features-box .feature header {
	padding: 50px 160px 50px 0px;
}

.features-box .feature.rightside {
	text-align: left;
}

.features-box .feature.rightside header {
	padding: 50px 0px 50px 160px;
}


.features-box .feature.rightside header:before {
    right: auto;
    left: 0;
}

.features-box .feature.rightside .feature-desc {
	float: left;
}

.features-box .feature header {
	font-family: iranyekan, 'iranyekan', Tahoma;
}

.features-box .feature .feature-desc {
	line-height: 28px;
	font-weight: 200;
	font-size: 18px;
}

.feature#newmenu {
    padding: 60px 40px 60px 30%;
}

.feature#ucontent {
	background-position: 95% bottom;
}

.contactform .inputer .placeholder {
	left: auto;
	right: 0;
}

.contactform .inputer.textarea .placeholder {
	left: auto;
	right: 20px;
}

.footer .contact-breaf {
	font-family: IRANSansFA, 'IRANSansFA', Tahoma;
	direction: ltr;
}

.footer .copyright {
	font-family: IRANSansFA, 'IRANSansFA', Tahoma;
}

/* Responsive Codes */

@media (max-width: 478px) {
	.header .learnmore { font-size: 18px; }
	.menubox .navigation ul { font-size: 19px; }
	.features-box .feature header { font-size: 26px; }
	.contactsection .headtitle { font-size: 26px; }
	.contactform .inputer .placeholder { font-size: 14px; }
	.contactform .inputer .placeholder.shrink { font-size: 11px; }
	.contactform button { font-size: 16px; }
	.features-box .feature .feature-desc { font-size: 16px; }
	.features-box .feature header { padding: 30px 110px 30px 0px; }
	.features-box .feature.rightside header { padding: 30px 0px 30px 110px; }
	.footer .contact-breaf { font-size: 15px; }
	.footer .copyright { font-size: 10px; }
	.feature#newmenu { padding: 30px; }
}

@media screen and (orientation:portrait) {
	.feature#newmenu { background-attachment: scroll; background-position: 50% 5% !important; background-size: 350px auto !important; padding-top: 450px }
	.feature#ucontent { background-attachment: scroll; background-position: 20% -5% !important; background-size: 470px auto !important; padding-top: 280px; }
	.feature#ucontent .feature-desc { width: 100%; }
}