@import"reset.css";
@import"fonts.css";

/* Global Settings (Please Do Not Change) */

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
	display:block;
}

* {
	box-sizing: border-box;
}

.clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
}

::selection {
	background: #ef4c71;
}

::-moz-selection {
	background: #ef4c71;
}

::-webkit-scrollbar {
	background-color:rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb {
	background-color:rgba(255,255,255,0.5);
} /* this will style the thumb, ignoring the track */
 

::-webkit-scrollbar-corner {
      background-color: rgba(0,0,0,0);
}

a {
	color: #f0f0f0;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

[data-scrollbar] {
	position: static;
}

html,
body {
	height:100%;
	width:100%;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html.noScrollApple {
	position: relative;
	overflow: hidden;
}

body.noScroll {
	position: relative;
	overflow: hidden;
}

html.noScroll {
	position: relative;
	overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

body {
	font-family: IRANSans, 'IRANSans', Tahoma;
	color: #f0f0f0;
	background-color: #302f40;
	direction: rtl;
	-webkit-overflow-scrolling: touch;
	position: relative;
}

input, textarea, form select, button {
	font-family: IRANSans, 'IRANSans', Tahoma;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

hr {
	border: none;
	height: 1px;
	background: rgba(255,255,255,0.2);
}

button {
	font-family: 'iranyekan';
	background: none;
	border: none;
	color: #f0f0f0;
	border-radius: 100px;
	cursor: pointer;
}

i {
	position: absolute;
}

.content.smoreback:before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
	z-index: 2;
}

.bgwrap {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #000;
	z-index: 50;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

.bgwrap.show {
	visibility: visible;
	opacity: 0.8;
}

.mainmenu {
	position: fixed;
	background: linear-gradient(30deg, #503a83, #da315f 60%);
	width: 25%;
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(100%);
	z-index: 51;
	transition: all 0.6s;
}

.mainmenu .close {
	right: 32px;
	top: 16px;
	background-image: url('../images/icons/close.svg');
	height: 36px;
	width: 36px;
}

.mainmenu .close:hover {
	opacity: 0.5;
}

.mainmenu .navmenu {
	position: absolute;
	width: 80%;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	font-family: iranyekan, 'iranyekan', Tahoma;
	max-height: 70%;
	overflow: auto;
	overflow-x: visible;
	padding: 0 20px 0 0;
	margin-top: 20px;
}

.navmenu ul {
	list-style-type: none;
}

.navmenu ul > li {
	display: block;
	margin: 10px 12px auto;
	font-size: 19px;
}

.navmenu ul li a:hover {
	opacity: 0.7;
}

.navmenu ul li.deactive  {
	opacity: 0.6;
}

.navmenu .iconholder {
	position: absolute;
	right: 0px;
	width: 25px;
}

.navmenu .iconholder i {
	text-align: center;
	width: 100%;
}

.mainmenu .menuwowcpright {
	position: absolute;
	bottom: 10px;
	right: 50%;
	transform: translateX(50%);
	width: 100%;
	text-align: center;
	font-size: 12px;
	transition: all 1s;
}

.mainmenu .menuwowcpright .menuwownumber {
	font-family: IRANSansFA;
	direction: ltr;
	height: 0;
	opacity: 0;
	transition: all 1s;
}

.mainmenu .menuwowcpright .menuwownumber.open {
	height: 20px;
	opacity: 1;
}

.mainmenu.activated {
	transform: translateX(0);
}

.shcart {
	position: fixed;
	background: linear-gradient(30deg, #da315f 20%, #763879);
	width: 25%;
	top: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	z-index: 52;
	transition: all 0.6s;
}

.shcart.activated {
	transform: translateX(0);
}

.shcart .close {
	left: 32px;
	top: 16px;
	background-image: url('../images/icons/shoppingcart.svg');
	background-size: 100% auto;
}

.shcart .title {
	font-weight: bold;
	font-size: 18px;
	padding: 13% 10px;
	text-align: center;
}

.shcart .cartcontent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-height: 70%;
	width: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.2) inset;
	overflow: auto;
}

.cartcontent .a-persons-cart {
	padding: 0 20px 0 20px;
	margin: 10px auto;
	list-style-type: none;
}

.cartcontent .a-persons-cart .person {
	padding: 10px;
	text-align: center;
	font-size: 16px;
}

.cartcontent .a-persons-cart .empty_basket {
}

.cartcontent .a-persons-cart li {
	position: relative;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	min-height: 100px;
	padding: 15px 0 15px 0;
	border-bottom: 1px solid rgba(255,255,255,0.1);

}

.cartcontent .a-persons-cart li .itemimage {
	width: 90px;
	height: 90px;
	display: inline-block;
	background-position: center center;
	background-size: cover;
	border-radius: 100px;
}

.cartcontent .a-persons-cart li header {
	display: inline-block;
	font-weight: bold;
	padding: 0 16px 0 10px;
	max-width: 60%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
}

.cartcontent .a-persons-cart li .count {
	font-family: IRANSansFA;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
}

.cartcontent .a-persons-cart li:last-child {
	border-bottom: none;
}

.button1 {
	background: rgba(0,0,0,0.3);
	transition: all 0.15s;
}

.button1:hover {
	background: rgba(0,0,0,0.5);
}


.shcart .button1 {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	font-size: 17px;
	line-height: 52px;
}

.button1.disabled {
	opacity: 0.5 !important;
}

.disabled {
	pointer-events: none !important;
	cursor: not-allowed !important;
	opacity: 0.5 !important;
}
/* Everything In Header */

.header {
	background: linear-gradient(30deg, #503a83, #da315f 60%);
	color: #f0f0f0;
	width: 100%;
	padding: 10px 5px 10px 5px;
	position: relative;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	top: 0;
	position: fixed;
	z-index: 20;
}

.header .headertop {
	position: relative;
}

.header .title {
	font-size: 38px;
	font-family: vogueb, 'vogueb', Tahoma;
	text-align: center;
}

.icon {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 40px;
	width: 40px;
	position: absolute;
	cursor: pointer;
	transition: opacity 0.15s, width 0.15s;
	font-family: 'IRANSansFA';
	text-align: center;
	font-size: 16px;
}

.header .icon {
	top: 50%;
	transform: translateY(-50%);
}

.icon:hover {
	opacity: 0.5;
}

.header .navicon {
	background-image: url('../images/icons/navicon.svg');
	right: 20px;
}

.header .helpicon {
	right: 70px;
	font-size: 30px;
}

.header .backicon {
	background-image: url('../images/icons/pre-page2.svg');
	left: 20px;
	display: none;
}

.header .shoppingcarticon {
	background-image: url('../images/icons/shoppingcart.svg');
	left: 20px;
}

.header .shoppingcarticon span {
	position: absolute;
	top: 8px;
	right: 6px;
	width: 20px;
}

.header .shoppingcarticon.notempty {
	background-image: url('../images/icons/shcart2.png');
	height: 52px;
	width: 52px;
}

.header .shoppingcarticon.leftspace {
	left: 80px;
}

.header.shrink .categories {
	padding: 0 0 0 0;
}

.header .categories.overflowch {
	overflow: auto;
}

.header .categories {
	width: 100%;
	height: auto;
	display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 0 5px 0 5px;
	padding: 5px 0 0 0;
	margin: 10px 0 0 0;
	z-index: -1;
	transition: all 1s;
}

.categories .cat {
	width: 14.5%;
	height: 100px;
	margin: 0px 1% 20px 1%;
	font-weight: normal;
	font-size: 19px;
	background: transparent none center 15% no-repeat;
	background-size: auto 60%;
	position: relative;
	opacity: 1;
	cursor: pointer;
	z-index: 1;
	border-radius: 10px;
}

.categories .cat.opac {
	opacity: 0.5;
}

.categories .cat.selected {
	opacity: 1 !important;
}

.categories .cat.cloned {
	box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,.2);
	position: relative;
}

.categories .cat.cloned:after {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../images/icons/clone-close2.svg') center center no-repeat;
	background-size: 100% auto;
 	border-radius: 100px;
	color: #000;
	display: block;
	position: absolute;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .4);
	top: 0px;
	right: 0px;
}

.categories .cat.totop {
	position: absolute;
	top: 0;
	right: 10px;
}

.categories .cat span {
	position: absolute;
	bottom: 0px;
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	left: 50%;
	transform: translateX(-50%);
}

.categories #pizzacat {
	background-image: url('../images/caticons/pizza.svg');
}

.categories #pastacat {
	background-image: url('../images/caticons/pasta.svg');
}

.categories #steakcat {
	background-image: url('../images/caticons/steak.svg');
}

.categories #seacat {
	background-image: url('../images/caticons/seafood.svg');
}

.categories #appetcat {
	background-image: url('../images/caticons/appetizer.svg');
}

.categories #drinkcat {
	background-image: url('../images/caticons/drink.svg');
}

.header .showmore {
	cursor: pointer;
	display: none;
	text-align: center;
	font-family: iranyekan, 'iranyekan', tahoma;
	margin: 10px auto 0px auto;
	padding-bottom: 10px;
}

.header .showmore .showmoreicon {
	background: transparent url('../images/icons/arrowdown.svg') center bottom no-repeat;
	background-size: auto 100%;
	height: 14px;
	display: block;
	transition: transform 1s;
}

.header .showmore:hover {
	opacity: 0.7;
}

.header .showmore.rotate .showmoreicon {
	transform: rotate(180deg);
}

.header.shrink .categories {
	-webkit-justify-content: flex-start;
    justify-content: flex-start;
	-webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: auto;
}

.header.shrink .categories::-webkit-scrollbar {
	height: 1px;
}

.header.shrink .categories .cat {
	margin: 10px;
	height: 50px;
	padding-top: 75px;
	width: 90px;
	font-size: 14px;
	background-size: auto 60%;
	-webkit-box-flex: 0;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	-ms-flex: 0;
}

.header.shrink .showmore {
	display: none !important;
}

.header.shrink .categories .cat span {
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.container {
	width: 980px;
	margin: 0px auto;
}

.container.fullwidth {
	width: 100%;
	min-height: 100vh;
}

.container.blur {
	filter: blur(4px);
}

.menushow {
	width: 100%;
	margin: 10px auto;
	padding: 5px 0 5px 0;
}

.menucat {
	margin: 10px auto;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	transition: all 1s;
}

.menushow .foldername {
	display: block;
	width: 100%;
	margin: 10px auto;
	font-weight: 500;
	text-align: center;
	font-size: 19px;
	text-transform: uppercase;
}

.menushow .menuitem {
	position: relative;
	width: 47%;
	min-height: 110px;
	margin: 12px;
	padding: 8px 8px 8px 8px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	box-shadow: -2px 5px 10px rgba(0,0,0,0.1);
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.menuitem {
	position: relative;
}

.menuitem .itemimage {
	width: 35%;
	max-height: 210px;
	min-height: 110px;
	overflow: hidden;
	display: inline-block;
	background-position: center center;
	background-size: cover;
	border-radius: 3px;
	position: relative;
}

.menushow .menuitem.noimage .itemimage {
	display: none;
}

.menuitem .itemdetails {
	width: 65%;
	display: inline-block;
	padding: 0 10px 0 0;
	position: relative;
	overflow: hidden;
}

.menuitem.noimage .itemdetails {
	width: 100%;
}

.menuitem .itemdetails .title {
	font-size: 17px;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menuitem .qty {
	width: 32px;
	height: 32px;
	background: #f0f0f0;
	border-radius: 40px;
	text-align: center;
	color: #3c2561;
	margin: 0 6px;
	font-size: 14px;
	line-height: 36px;
	font-weight: normal;
	font-family: IRANSansFA, 'IRANSansFA', Tahoma;
	display: none;
	position: absolute;
	right: -20px;
	top: -15px;
	z-index: 1;
}

.menuitem .itemdetails .desc {
	width: 100%;
	font-size: 13px;
	font-weight: 300;
	height: 52px;
	background: -webkit-linear-gradient(rgba(255,255,255,1) 40%, rgba(255,255,255,0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menuitem .itemdetails .desc.apple {
	background: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: inherit;
	height: 40px !important;
	overflow: hidden !important;
}

.menuitem .itemdetails .price {
	position: absolute;
	right: 10px;
	bottom: -5px;
	font-family: IRANSansFA, 'IRANSansFA', Tahoma;
	font-size: 14px;
}

.menuitem .itemdetails .price .oldprice {
	font-size: 11px;
	display: inline-block;
	text-decoration: line-through;
	float: right;
	line-height: 8px;
}

.menuitem .itemdetails .price .newprice {
	display: block;
	float: none;
	margin: 0;
}

.menuitem .itemdetails .qtychange {
	position: absolute;
	left: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	font-size: 25px;
}

.menuitem  .itemdetails .qtychange span {
	display: inline-block;
	width: 47px;
	height: 47px;
	line-height: 52px;
	margin: 0 10px auto;
	border-radius: 50px;
	cursor: pointer;
	position: relative;
}

.menuitem  .itemdetails .qtychange span.plus {
	color: #f0f0f0;
	margin-top: 3px;
}

.menuitem  .itemdetails .qtychange span.minus {
	background: #f0f0f0;
	color: #212529;
	font-size: 12px;
}

.atten { animation: atten 0.2s; }

@keyframes atten {
    0%   {transform: translateX(0px);}
	25%   {transform: translateX(5px);}
    50%   {transform: translateX(0px);}
	75%   {transform: translateX(-5px);}
    100%   {transform: translateX(0px);}
}

.minus i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 24px;
	
}

.fa:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.menuitem  .itemdetails .ratingstars {
	position: absolute;
	left: 0px;
	bottom: -2px;
}

.rating { 
	border: none;
	margin-left: -6px;
}

.rating > input {
	display: none;
} 

.rating > .half { 
	position: relative;
}

.rating > .half div { 
	position: absolute;
	left: 2px;
}

.rating > label { 
	color: #ddd; 
	float: right;
	font-size: 12px;
	margin: 0 1px;
}

.rating input.selected ~ label { color: #d4bb2a;  }


.ratingstars .ratingcontent {
	display: block;
	font-size: 10px;
	text-align: center;
	margin-top: -2px;
	margin-bottom: 4px;
}

.menuitem.outoforder::after {
	position: absolute;
	top: 0;
	width: 100%;
	right: 0;
	height: 100%;
	background: rgba(48, 47, 64, 0.9) url('../images/icons/out.png') no-repeat;
	background-position: center center;
	background-size: contain;
	content: '';
	transition: 0.8s all;
	z-index: 2;
}

.menuitem.discount::before {
	position: absolute;
	bottom: 10%;
	right: 0;
	background: transparent url('../images/icons/discicon.svg') right center no-repeat;
	background-size: 100% auto;
	content: attr(data-discount);
	width: 70px;
	height: 30px;
	line-height: 34px;
	font-size: 18px;
	text-align: center;
	z-index: 1;
}

.menuitem.bestseller .itemimage::before {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	background: transparent url('../images/icons/bestseller.png') center center no-repeat;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	z-index: 2;
}

.menushow .menuitem.ordered {
	background: linear-gradient(30deg, #da315f, #774d8d 50%);
}

.menuitem.ordered .desc, .menuitem.ordered .ratingstars {
	display: none;
}

.menuitem.ordered .qty, .menuitem.ordered .qtychange {
	display: inline-block;
}

.detailsbox {
	width: 90%;
	max-width: 400px;
	position: fixed;
	max-height: 95%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 53;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #23222f;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

.detailsbox .dboxwrapper {
	max-height: 95vh;
	overflow: auto;
}

.detailsbox.activated {
	opacity: 1;
	visibility: visible;
}

.detailsbox .close {
	position: absolute;
	right: 15px;
	top: 15px;
	background: transparent url('../images/icons/close.svg') center center no-repeat;
	background-size: 100% auto;
	width: 34px;
	height: 34px;
	cursor: pointer;
	z-index: 2;
	transition: all 0.15s;
}

.detailsbox .close:hover {
	opacity: 0.5;
}

.detailsbox .itemmedia {
	position: relative;
	overflow: hidden;
	padding: 30px 0 0 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	/*background: transparent url('../images/itemdetails/detailsbg.jpg') center center no-repeat;*/
}

.itemmedia .itemmediabg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	background-size: 100% 100%;
	overflow: hidden;
}

.swiper-container {
    width: 100%;
	height: 240px;
	margin-top: 25px;
}

.swiper-container .swiper-slide {
	width: 50%;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
}

.preload_file{
	background: url(../images/white_loading.gif) no-repeat 50% 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
	max-height: 15px;
}

.swiper-pagination-bullet {
	border: 3px solid #f0f0f0;
	background: transparent;
	width: 10px;
	height: 10px;
	border-radius: 30px;
	opacity: 1;
	transition: width 0.5s;
}

.swiper-pagination-bullet-active {
	border: none;
	background: linear-gradient(30deg, #da315f 60%, #503a83 100%);
	width: 100px;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.swiper-slide img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.swiper-slide video {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	border-radius: 5px;
	pointer-events: none;
}

.swiper-slide-active img,.swiper-slide-active video {
	cursor: zoom-in;
}

.swiper-slide.video-content:after {
	content: '';
	width: 60px;
	height: 60px;
	background: transparent url('../images/itemdetails/play-button.svg') center center no-repeat;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.3s;
	display: none;
}

.swiper-slide-active.video-content:after {
	display: none;
}

.swiper-slide.video-content:hover:after {
	opacity: 0.8;
}

.swiper-slide.video-content.playerhide:after {
	opacity: 0;
}

.galzoom {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.5);
	z-index: 120;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: zoom-out;
}

.galzoom img {
	object-fit: cover;
	max-height: 90%;
	max-width: 90%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
}

.galzoom video {
	height: 90%;
	width: 90%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
}

.galzoom .close {
	position: absolute;
	top: 10px;
	right: 30px;
	z-index: 300;
	color: #fff;
	font-size: 42px;
	cursor: pointer;
}

.detailsbox .itemcontent {
	position: relative;
	padding: 10px 15px;
}

.detailsbox .itemcontent .title {
	font-size: 18px;
	font-weight: bold;
	margin: 10px auto;
}

.detailsbox .itemcontent .ratingstars {
	position: absolute;
	left: 10px;
	top: 6px;
}

.detailsbox .itemcontent .description {
	font-size: 15px;
	margin: 0 auto 10px auto;
}

.detailsbox .itemcontent .shortdescription_header,.detailsbox .itemcontent .description_header {
	display: block;
	padding: 4px;
	text-align: center;
	position: relative;
	font-size: 20px;
	font-family: iranyekan, 'iranyekan', tahoma;
	opacity: 0.6;
}

.detailsbox .itemcontent .shortdescription_header:before, .detailsbox .itemcontent .shortdescription_header:after,.detailsbox .itemcontent .description_header:before,.detailsbox .itemcontent .description_header:after  {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 1px;
	width: 70px;
	background: rgba(255, 255, 255, .5);
}

.detailsbox .itemcontent .shortdescription_header:before, .detailsbox .itemcontent .description_header:before {
    transform: translateX(85px);
}

.detailsbox .itemcontent .shortdescription_header:after , .detailsbox .itemcontent .description_header:after {
    transform: translateX(-15px);
}

.detailsbox .itemcontent #home_item_description, .detailsbox .itemcontent #home_item_short_description {
	text-align: justify;
}

.detailsbox .itemcontent .comments {
	background: rgba(0,0,0,0.2);
	list-style-type: none;
	margin: 20px -10px 20px -10px;
}

.detailsbox .itemcontent .comments header {
	font-size: 17px;
	font-weight: 500;
	padding: 5px 10px 5px 10px;
}

.comments .comment {
	padding: 0px 10px 5px 10px;
	font-weight: 500;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.comments .comment .author {
	padding: 5px 10px;
	font-size: 15px;
}

.comments .comment .comment_content {
	padding: 0px 20px 5px 5px;
	font-size: 13px;
	font-weight: 300;
}

.comments li:last-child {
	border-bottom: none;
}

.detailsbox .itemcontrol {
	position: relative;
	padding: 10px 10px;
}

.detailsbox .addingcount {
	justify-content: center;
	margin: 10px 0 auto;
	display: none;
}

.detailsbox.ordered .addingcount {
	display: flex;
}

.detailsbox.ordered .addtocart {
	background: #3b3a47 !important;
}

.detailsbox .btn.btn_2 {
	width: 40px;
	height: 40px;
	line-height: 43px;
	display: inline-block;
	font-weight: bold;
	font-size: 23px;
	background: linear-gradient(30deg, #da315f, #813679);
	transition: all 0.15s;
	margin: 0 5px 0 5px;
}

.detailsbox .btn.btn_2:hover {
	background: linear-gradient(30deg, #b91c47, #6d1864);
}

.btn_2.disabled {
	opacity: 0.5;
	pointer-events: auto !important;
}

.detailsbox .count {
	width: 40px;
	display: inline-block;
	margin: 0 10px auto;
	text-align: center;
	font-family: IRANSansFA;
	font-size: 25px;
}

.detailsbox .btn {
	line-height: 60px;
	font-size: 19px;
	width: 100%;
	margin: 15px auto 10px auto;
}

.detailsbox .addtocart {
	
}

.detailsbox .addtocart.equal {
	background: #3b3a47 !important;
	opacity: 0.8;
	pointer-events: none;
}

.detailsbox .addtocart.increase {
	background: #278256 !important;
}

.detailsbox .addtocart.decrease {
	background: #da315f !important;
}

.detailsbox .addtocart.remove {
	background: #c4183c !important;
}

.detailsbox .gotobottom {
	position: fixed;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	bottom: -2px;
	z-index: 20;
	color: #fff;
	opacity: 0.8;
	font-size: 24px;
	display: none;
}

@keyframes arrowdance {
    0% {padding-top: 0px;}
    50% {padding-top: 5px;}
	100% {padding-top: 0px;}
}

.detailsbox .gotobottom .icon {
	margin: 0px auto;
	width: 100%;
	animation-name: arrowdance;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

.pagetitle {
	font-weight: 500;
	font-size: 22px;
	text-align: center;
	padding: 15px 0 2px 0;
}

.orderlist {
	margin: 0px auto 20px auto;
}

.orderlist .itemslist {
	padding: 0 10px 0 10px;
	margin: 0px auto;
	list-style-type: none;
}

.orderlist .itemslist li {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding: 15px 0 15px 0;
    display: flex;
    align-items: center;
	justify-content: flex-start;
	position: relative;
	width: 100%;
}

.orderlist .itemslist li .imgdesc {
    display: flex;
    align-items: center;
	justify-content: flex-start;
	position: relative;
	width: 80%;
}

.orderlist .itemslist li .itemimage {
	width: 160px;
	height: 110px;
	display: inline-block;
	background-position: center center;
	background-size: cover;
	border-radius: 100px;
}

.orderlist .itemslist li .titledesc {
	display: inline-block;
	padding: 0 16px 0 10px;
	font-size: 16px;
	width: 80%;
	float: right;
}

.orderlist .itemslist li header {
	display: block;
	font-weight: bold;
	margin: 5px 0px auto;
}

.orderlist .itemslist li .descadd {
	display: block;
	margin: 5px 0px auto;
	position: relative;
}

.orderlist .itemslist li .descadd .descicon {
	position: absolute;
	top: 5px;
	right: 7px;
	pointer-events: none;
	opacity: 1;
	color: rgba(59,232,176,.9);
}

.orderlist .itemslist li .descadd input {
	background: transparent;
	color: #f0f0f0;
    word-wrap: break-word;
	width: 100%;
	border-radius: 5px;
	padding: 5px 32px 5px 5px;
	max-height: 72px;
	resize: none;
	display: inline-block;
}

.descadd input {
	border: 1px solid transparent;
}

.descadd input:focus, .descadd input.full {
	border: 1px solid rgba(255,255,255,0.8);
}

.orderlist .itemslist li .leftcont {
	font-family: IRANSansFA;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
}

.orderlist .itemslist li .chbutton {
	display: inline-block;
	width: 28px;
	height: 28px;
	background: #da315f;
	color: #f0f0f0;
	text-align: center;
	margin: 0 16px auto;
	box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	border-radius: 50px;
	cursor: pointer;
	position: relative;
}

.orderlist .itemslist li .chbutton:hover {
	box-shadow: inset 2px 2px 0px rgba(0,0,0,0.2);
}

.orderlist .itemslist li .chbutton.plus {
	margin: 0 0px auto 16px;
}

.orderlist .itemslist li .chbutton.minus {
	margin: 0 16px auto 0px;
}

.orderlist .itemslist li .count {
	display: inline-block;
}

.orderlist .itemslist li .price {
	display: block;
	margin-top: 10px;
	font-size: 17px;
	text-align: left;
}

.orderlist .totaling {
	font-weight: 500;
	font-size: 20px;
	padding: 0 20px 0 20px;
	margin: 10px auto;
}

.orderlist .totaling span {
	display: inline-block;
	float: left;
	font-family: IRANSansFA;
}

.orderlist .totaling .line {
	padding: 5px 0 5px 0;
}

.orderlist .totaling .plus {
	font-size: 22px;
}

.orderlist .totaling .total {
	font-size: 24px;
	border-top: 1px solid rgba(255,255,255,0.2);
	font-weight: bold;
}

.orderlist .btn {
	width: 100%;
	line-height: 50px;
	font-size: 23px;
}

.btn {
	border-radius: 200px;
	font-family: iranyekan, 'iranyekan', tahoma;
	text-align: center;
}

.btn.disabled {
	opacity: 0.5;
}

.btn.btn_1 {
	background: #da315f;
	background: linear-gradient(30deg, #da315f 50%, #813679);
	transition: all 0.15s;
	width: 100%;
	line-height: 50px;
	font-size: 23px;
}

.btn.btn_1:hover {
	background: #b91c47;
	background: linear-gradient(30deg, #b91c47 50%, #6d1864);
}

.btn.btn_2 {
	background: #278256;
	background: linear-gradient(30deg, #278256 50%, #2075d1);
	transition: all 0.15s;
	width: 100%;
	line-height: 50px;
	font-size: 23px;
}

.btn.btn_2:hover {
	background: #b91c47;
	background: linear-gradient(30deg, #18613e 50%, #155ca9);
}


.btn.btn_3 {
	background: #da315f;
	background: linear-gradient(30deg, #da315f 50%, #813679);
	transition: all 0.15s;
	width: auto;
	padding: 3px 60px;
	font-size: 22px;
}

.btn.btn_3:hover {
	background: #b91c47;
	background: linear-gradient(30deg, #b91c47 50%, #6d1864);
}

.servicepage {
	margin: 18px auto;
}

#preview_form #inout {
	text-align: center;
	height: 30px;
	margin: 10px auto 0px auto;
	position: relative;
}

#inout .toggle {
	height: 100%;
}

.toggle {
	position: relative;
}

.toggle.style_1 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 170px;
}

.toggle input {
	display: none;
}

.toggle .toggle_indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 8px;
	background: #503a83;
	display: block;
	border-radius: 100px;
	opacity: .99;
	cursor: pointer;
}

.toggle.style_1 .toggle_indicator {
	left: 50%;
	transform: translate(-50%,100%);
	transition: .3s;
}

.toggle .toggle_indicator::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100px;
    transition: .3s;
	transform: translate(-50%,-50%);
}

.toggle .toggle_input:checked + .toggle_indicator::after {
    left: 36px;
    transform: translate(-50%,-50%);
}

.toggle .toggle_input:checked + .toggle_indicator {
    background: #da315f;
}

.toggle_input:checked ~ .toggle_indicator {
    color: #fff;
    background-color: #007bff;
    border-color: transparent;
    box-shadow: none;
}

.toggle_description.choiceone {
	position: absolute;
	right: 0;
}

.toggle_description.choicetwo {
	position: absolute;
	left: 0;
}

.countselect {
	text-align: center;
	margin-top: 56px;
}

.countselect .count_text {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.countselect .count_input {
	display: inline-block;
	font-family: IRANSansFA;
	background: rgba(0,0,0,0.1);
	text-align: right;
	border: 1px solid rgba(32,117,209,0);
	color: #f0f0f0;
	box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1);
	border-bottom: 3px solid #2075d1;
	padding: 10px 15px 8px 11px;
	margin-top: -9px;
	border-radius: 50px;
}

.countselect .count_select {
	display: none;
}

.servicepage .btn.btn_1 {
	margin: 20px auto;
}

.ap-button#ap-button-cancel {
	background: #212529;
}

.ap-button#ap-button-set {
	background: linear-gradient(30deg, #503a83, #da315f);
}

.paymentpage {
	
}

.paymentpage .paysummary {
	margin: 20px auto;
	list-style-type: none;
}

.paymentpage .paysummary li {
	display: block;
	padding: 7px 16px 7px 16px;
	font-family: IRANSansFA;
	position: relative;
}

.paymentpage .paysummary li:last-child {
	font-weight: 500;
	font-size: 18px;
}

.paymentpage .paysummary li:nth-child(odd) {
   background: rgba(0, 0, 0, 0.1);
}

.paymentpage .paysummary li .span1 {
	width: 100%;
}

.paymentpage .paysummary li .span2 {
	float: left;
}

.paymentpage .paysummary li.fooditem {
	padding: 7px 30px 7px 30px;
	font-size: 14px;
}

.paymentpage .paymethod {
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	margin: 20px auto;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 100px;
	overflow: hidden;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.paymentpage .paymethod .li {
	width: 100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.paymentpage .paymethod .li .radio_input, .paymentpage .paymethod .li .radio_indicator {
	display: none;
}

.paymentpage .paymethod .li .radio_description {
    display: block;
	padding: 40px 20px 5px 20px;
	cursor: pointer;
	position: relative;
}

.paymentpage .paymethod .li .radio_description:before {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
    content: "";
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 30px;
	height: 30px;
}

.paymentpage .paymethod #online .radio_description:before {
	background-image: url('../images/icons/online-payment.svg');
}

.paymentpage .paymethod #card .radio_description:before {
	background-image: url('../images/icons/card-payment.svg');
}

.paymentpage .paymethod #credit .radio_description:before {
	background-image: url('../images/icons/credit-payment.png');
}

.paymentpage .paymethod #cash .radio_description:before {
	background-image: url('../images/icons/cash-payment.svg');
}

.radio_input:checked ~ .radio_description {
    background: linear-gradient(30deg, #503a83, #da315f);
}

.paymentpage .order_accept_response {
	text-align: center;
	font-size: 17px;
}

.paymentpage .order_accept_response .admin_accept_waiting {
	background-image: url('../images/icons/loading.svg');
	background-position: center 10px;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	padding-top: 65px;
}

.paymentpage .order_accept_response .admin_accept_waiting span {
	font-family: iranyekan, 'iranyekan', tahoma;
}

.paymentpage .order_accept_response .available_count {
	list-style-type: none;
	margin: 10px auto;
}

.paymentpage .order_accept_response li {
	list-style-type: none;
	background: rgba(0,0,0,0.1);
	padding: 10px;
	font-size: 16px;
	border-radius: 100px;
	margin: 15px auto 0px auto;
	font-family: IRANSansFA;
}

.msgBox {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 500;
    visibility: hidden;
	opacity: 0;
	transition: all 0.25s;
}

.msgBox.show {
	visibility: visible;
	opacity: 1;
}

.msgBox .innerbox {
    width: 480px;
    min-height: 160px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
}

.msgBox .innerbox .topSide {
    display: block;
    width: 100%;
    height: 80px;
    padding: 55px 10px 35px 10px;
    color: #242424;
	font-weight: bold;
	font-size: 19px;
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url('../images/icons/warning.svg');
    border-bottom: 1px solid #d9d9d9;
}

.msgBox.success .innerbox .topSide {
    background-image: url('../images/icons/success.svg');
}

.msgBox.edit .innerbox .topSide {
    background-image: url('../images/icons/edit.svg');
    background-size: 35px;
}

.msgBox .innerbox .bottomSide {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #2e2e2e;
    padding: 10px 10px 10px 10px;
	min-height: 100px;
}

.msgBox .innerbox .btns {
    width: 100%;
    display: block;
    padding: 14px 0px;
    border-top: 1px solid #d9d9d9;
}

.msgBox .innerbox .btns .btn {
    width: 30%;
    color: #ffffff;
    font-size: 17px;
    padding: 8px 5px 9px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    transition: all 0.3s;
}

.msgBox .innerbox .btns .btn.cancelBtn {
    background-color: rgba(0,0,0,.85);
}

.msgBox .innerbox .btns .btn.confirmBtn {
    background: #503a83;
    background-image: linear-gradient(30deg, #503a83, #da315f);
}

.msgBox .innerbox .btns .btn.cancelBtn:hover {
    background-color: rgba(0,0,0,.95);
}

.msgBox .innerbox .btns .btn.confirmBtn:hover {
    background-image: linear-gradient(30deg, #42215b, #b91c47);
}

.msgBox .innerbox .exit {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    top: 0;
    opacity: 0.85;
    filter: alpha(opacity=85);
    right: 0;
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: center;
    /*background-image: url('../images/icons/close-white.svg');*/
    transition: all 0.3s;
}

.msgBox .innerbox .exit:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.msgBox .form-group {
    margin-top: 20px;
}

.msgBox .form-group:first-child {
    margin-top: 0;
}

.msgBox .icons_box {
    background-color: #ececec;
    font-size: 0;
}

.msgBox .form-group input {
    padding: 5px 15px;
    width: 60%;
    border: 1px solid #c5c5c5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.msgBox .form-group label {
    display: block;
    font-size: 14px;
    padding-bottom: 8px;
}

.msgBox .icons_box .form-group {
    display: inline-block;
    width: 20%;
    height: 40px;
    margin: 0;
}

.msgBox .icons_box label {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
}

.msgBox .icons_box input {
    display: none;
}

#back_register_main {
	cursor: pointer;
	color:#00aae2;
}
.qty:before {
	content: '';
	position: absolute;
	border: #f0f0f0 solid 3px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 100px;
}

.qty.rippler:before {
	top: -12px;
	right: -12px;
	bottom: -12px;
	left: -12px;
	opacity: 0;
	transition: all 0.8s;
}

.finalfactor .factor_num_wrap {
	text-align: center;
}

@keyframes factornumglow {
    0% {box-shadow: 0px 0px 5px 0px #3be8b0;}
    50% {box-shadow: 0px 0px 15px 2px #3be8b0;}
	100% {box-shadow: 0px 0px 5px 0px #3be8b0;}
}

.finalfactor .factor_num {
	display: inline-block;
	border: 6px solid #3be8b0;
	border-radius: 200px;
	background: transparent;
	width: 130px;
	height: 130px;
	position: relative;
	margin: 20px auto 0px auto;
	line-height: 40px;
	padding-top: 20px;
	animation-name: factornumglow;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

.finalfactor .factor_num header {
	display: block;
	font-weight: 500;
}

.finalfactor .factor_num .number {
	font-family: IRANSansFA;
	font-size: 30px;
	font-weight: bold;
}

.orderlist.finalfactor .itemslist li .itemimage {
	width: 120px;
	height: 80px;
	border-radius: 10px;
}

.orderlist.finalfactor .itemslist li .count {
	font-size: 21px;
	float: left;
}

.orderlist.finalfactor .itemslist li .count span {
	font-size: 14px;
}

.orderlist.finalfactor .btn {
	margin: 10px auto;
}

.surveybox {
	width: 90%;
	max-width: 400px;
	position: fixed;
	max-height: 95%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 53;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #f0f0f0;
	opacity: 0;
	visibility: hidden;
	overflow: auto;
}

.surveybox.activated {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
}

.surveybox .close {
	position: absolute;
	right: 15px;
	top: 15px;
	background: transparent url('../images/icons/close.svg') center center no-repeat;
	background-size: 100% auto;
	width: 24px;
	height: 24px;
	cursor: pointer;
	z-index: 2;
	transition: all 0.15s;
}

.surveybox .close:hover {
	opacity: 0.5;
}

.surveybox .survey_header {
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	background: rgba(0,0,0,.4);
}

.survey_header:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url('../images/survey-bg.jpg');
	background-repeat: no-repeat;
	background-position: center 20%;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.hidden {
	display: none;
}

.headertop .itemadded {
	position: absolute;
	left: 0;
	bottom: -5px;
	transform: translateY(80%);
	width: auto;
	height: auto;
	white-space: nowrap;
	background: #fff;
	color: #111;
	opacity: 0;
	visibility: hidden;
	font-size: 13px;
	z-index: 600;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 3px 3px 1px rgba(0,0,0,.1);
	padding: 7px 12px 7px 12px;
	transition: all 0.2s;
}

.headertop .itemadded .popover-arrow {
	position: absolute;
	top: -4px;
	left: 25px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 5px solid #fff;
	width: 0;
	height: 0;
}

.headertop .itemadded.slidedown {
	transform: translateY(100%);
	opacity: 0.9;
	visibility: visible;
}

/* Start RZIW */

.alerts_holder {
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 40;
}

.just_content_message_div .just_content_message {
	background: linear-gradient(#e38d1e, #ffe348);
	color: #f0f0f0;
	padding: 6px;
	font-weight: 500;
	font-size: 14px;
	text-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

/* End RZIW */

/*.waiting_orders{
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 40;
}*/ /* Commented by RZIW */

.waiting_orders .waiting_order {
	background: linear-gradient(#17c671, #0b9652);
	color: #f0f0f0;
	padding: 6px;
	font-weight: 500;
	font-size: 14px;
	text-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

.waiting_order span {
	font-family: 'iranyekan';
	font-weight: 300;
	font-size: 16px;
}

.mainmenu .waiter_call {
	left: 32px;
	top: 14px;
	font-size: 28px;
	position: absolute;
	background-image: url('../images/icons/waiter-call.svg');
}

@keyframes callring {
    0% {transform: rotate(0deg);}
	5% {transform: rotate(-10deg);}
	10% {transform: rotate(10deg);}
	15% {transform: rotate(-10deg);}
    20% {transform: rotate(10deg);}
	25% {transform: rotate(-10deg);}
	30% {transform: rotate(10deg);}
	35% {transform: rotate(0deg);}
	40% {transform: rotate(0deg);}
	45% {transform: rotate(0deg);}
	50% {transform: rotate(0deg);}
	55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	65% {transform: rotate(0deg);}
    70% {transform: rotate(0deg);}
	75% {transform: rotate(0deg);}
	80% {transform: rotate(0deg);}
	85% {transform: rotate(0deg);}
	90% {transform: rotate(0deg);}
	95% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}

@keyframes callring2 {
    0% {opacity: 0;}
	25% {opacity: 1;}
	50% {opacity: 1;}
	75% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes callring3 {
    0% {opacity: 0;}
	25% {opacity: 0;}
	50% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;}
}

.waiter_call.active {
	animation-name: callring;
	animation-duration: 2.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

.waiter_call.active:before {
	position: absolute;
	animation-name: callring2;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

.waiter_call.active:after {
	position: absolute;
	animation-name: callring3;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

.waiter_call.active:before {
	content: ')';
	font-size: 12px;
	transform: rotate(90deg) translate(0%,15%);
	left: 50%;
	top: -9px;
}

.waiter_call.active:after {
	content: ')';
	font-size: 24px;
	transform: rotate(90deg) translate(0%,15%);
	left: 50%;
	top: -25px;
}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
	background-image: url('../images/icons/loading.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	z-index: 600;
	visibility: hidden;
	opacity: 0;
}

.loading.show {
	visibility: visible;
	opacity: 1;
}

.msgBox input {
	display: block;
	margin: 7px auto 0px auto;
    padding: 5px 15px;
    width: 40%;
    border: 1px solid #c5c5c5;
    border-radius: 20px;
	text-align: center;
}

.homeintro {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1000;
}

.homeintro .homeintro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.9));
}

.homeintro-overlay .intrologo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 40%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -20px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.8s;
}

.homeintro-overlay .intrologo.show {
	margin-top: 0px;
	visibility: visible;
	opacity: 1;
}

.homeintro-overlay .gotomenu {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.8s;
}

.homeintro-overlay .gotomenu.show {
	bottom: 10px;
	visibility: visible;
	opacity: 1;
}

.homeintro-overlay .gotomenu .menuwowlogo {
	height: 10vh;
	width: auto;
	margin: 10px auto;
}

.homeintro-overlay .gotomenu .menuwowlink {
	display: block;
	margin: 10px auto;
	padding: 7px 40px;
	border: 2px solid #fff;
	font-size: 18px;
	border-radius: 0;
	transition: all 0.3s;
}

.homeintro-overlay .gotomenu .menuwowlink:hover {
	background: #fff;
	color: #000;
}

.helpdesk {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	z-index: 50;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

.helpdesk.show {
	visibility: visible;
	opacity: 0.8;
}

.helpdesk .step01 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.homeintro-overlay .gotomenu .menuwowlink {
	display: block;
	margin: 10px auto;
	padding: 7px 40px;
	border: 2px solid #fff;
	font-size: 18px;
	border-radius: 0;
	transition: all 0.3s;
}

.homeintro-overlay .gotomenu .menuwowlink:hover {
	background: #fff;
	color: #000;
}

.helpdesk {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	z-index: 50;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

.helpdesk.show {
	visibility: visible;
	opacity: 0.8;
}

.helpdesk .step01 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

>>>>>>> dfa2895f8a5e1cf26616b66e50f15793a8b0e98e
.helpdesk .arrow {
	position: absolute;
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.helpdesk .contentbox {
	position: absolute;
	border: 1px dashed rgba(255,255,255,.8);
	max-width: 400px;
	height: auto;
	border-radius: 5px;
	font-size: 15px;
	text-align: center;
	padding: 5px 10px;
}

.helpdesk .step01 .arrow {
	top: 60px;
	left: 100px;
	width: 80px;
	height: 80px;
	/*background-image: url('../images/icons/help/arrow01.svg');*/
}

.helpdesk .step01 .contentbox {
	left: 185px;
	top: 148px;
}

.setup-welcome {
	background: linear-gradient(30deg, #503a83, #da315f 60%);
	color: #f0f0f0;
	min-height: 100vh;
}

.setup-welcome .welcomestep {
	font-size: 44px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

.setup-welcome .welcomestep.welcome01 {
	font-family:'brush';
	font-size: 80px;
}

.setup-welcome .finish_presetup {
	font-size: 36px;
}

.setup-welcome .finish_presetup .finish {
	display: none;
}

.setup-welcome .finish_presetup .redirect {
	display: none;
}

.welcomestep.show {
	visibility: visible;
	opacity: 0.95;
}

.setup-icon {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 15;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, top 1.5s;
}

.setup-icon.show {
	visibility: visible;
	opacity: 0.95;
}

.setup-icon img {
	width: 300px;
	transition: all 1.5s;
}

.setup-icon.gotop {
	top: 15px;
}

.setup-icon.gotop img {
	width: 70px;
}

.setup-welcome .content {
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

.setup-welcome .content.settingcontent {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	transform: translate(0, 0);
	text-align: center;
	visibility: visible;
	opacity: 1;
	padding-top: 90px;
}

.setup-welcome .content.show {
	visibility: visible;
	opacity: 1;
}

.setup-welcome .content input, .setup-welcome .content textarea, .setup-welcome .content select {
	border: none;
	color: #fff;
	width: 100%;
	box-shadow: inset 2px 2px 3px rgba(0,0,0,.15);
	padding: 8px 15px;
	border: none;
	background-color: rgba(0,0,0,.2);
	border-radius: 7px;
	max-width: 250px;
	margin: 10px auto;
}

.setup-welcome .content input[type=radio] {
	width: 40px;
}

.setup-welcome .content textarea {
	max-width: 350px;
	min-height: 100px;
}

.setup-welcome .content select option {
	background-color: #da315f;
}

.setup-welcome .content label {
	float: none !important;
	display: block !important;
}

.setup-welcome .content button {
	font-size: 20px;
	box-shadow: 0px 6px 0px -5px rgba(255,255,255,.7);
	margin: 6px auto;
}

.setup-welcome .content .setting_title {
	display: block;
	font-weight: bold;
}

.setup-welcome .content .settings_section {
	border-top: 1px solid rgba(255,255,255,.2);
	padding: 30px 0 10px 0;
}

.setup-welcome .content .settings_section:first-child {
	border-top: 0px solid #fff;
}

.setup-welcome .content .settings_section .settings_header {
	font-weight: bold;
	font-size: 19px;
	text-transform: uppercase;
}

.setup-welcome .content .settings_section .settings_icon {
	font-size: 32px;
	padding: 10px;
}

.setup-welcome .content .settings_section .onesetting {
	margin: 20px auto;
}

.setup-welcome .content .settings_section .btn {
	display: none;
}

.setup-welcome .content .settings_section .member_logo {
	display: none;
}

.setup-welcome .content .settings_section .introduction_pic {
	display: none;
}

.setup-welcome .content .settings_section .member_instagram {
	display: none;
}

.setup-welcome .content .settings_section .member_telegram {
	display: none;
}

.setup-welcome .content .settings_section .member_linkedin {
	display: none;
}

.aboutpage {
	text-align: center;
}

.aboutpage .aboutpagebg {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	filter: blur(5px);
}

.aboutpage .overlay {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0,.5);
	padding: 20px 5px 5px 5px;
}

.aboutpage .aboutheader {

}

.aboutpage .aboutheader .about-logo {
	width: 200px;
	margin: 10px auto;
}

.aboutpage .aboutheader .title {
	font-size: 22px;
	font-weight: 500;
}

.aboutpage .aboutcontent {
	padding: 20px 0 0 0;
	font-size: 15px;
}

.aboutpage .aboutcontent header {
	font-size: 19px;
}

.aboutpage .aboutcontent .aboutdesc {
	text-align: justify;
}

.aboutpage .aboutcontent .aboutcontact {
	font-family: IRANSansFA;
	margin: 15px auto;
	border: 2px solid #fff;
	border-radius: 150px;
	padding: 10px;
	transition: all 0.5s;
}

.aboutpage .aboutcontent .aboutcontact:hover {
	background: #fff;
	color: #000;
}

.aboutpage .aboutcontent .aboutsocial {
	margin: 15px auto 0 auto;
	direction: ltr;
}

.aboutsocial .social-icon {
	font-size: 28px;
	margin: 15px 0px auto;
	transition: all 0.2s;
}

.aboutsocial .social-icon:hover {
	opacity: 0.5;
}

.aboutpage .aboutfooter {
	width: 100%;
	background: #fff;
}

.centercontent {
	text-align: center;
}

.profilepage {
	margin: 20px auto;
}

.profilepage .username-box {
	font-family: 'IRANSansFA';
	font-weight: bold;
}

.profilepage .btn {
	margin: 20px auto;
	display: block;
	font-size: 18px;
	box-shadow: -2px 2px 0px rgba(0,0,0,.2);
	transition: all 0s;
}

.profilepage .btn:active {
	box-shadow: -0px 0px 0px rgba(0,0,0,.2);
	transform: translate(-2px, 2px);
}
.profilepage .edit_user_btn {
	width: 18%;
}

.profilepage .profilepic .profile_pic_img_div {
	/*background: transparent url('../images/icons/profile.svg') center center no-repeat;*/
	width: 200px;
	height: 200px;
	border-radius: 500px;
	margin: 20px auto;
	box-shadow: -5px 5px 0px rgba(0,0,0,.2);
}

.loading_gif {
	width: 50px;
	height: auto;
	padding:0;
}

.loginpage .mobile_data {
	font-family: IRANSansFA;
	margin: 20px auto;
}

.formbody {
	margin: 20px auto;
}

.formbody input {
	font-family: IRANSansFA;
}

.formbody input {
	width: 100%;
	color: #fff;
	max-width: 220px;
	margin: 5px auto;
	padding: 8px 10px 5px 10px;
	background: rgba(0,0,0,.15);
	border: none;
	border-radius: 55px;
	text-align: center;
	box-shadow: inset 2px 2px 3px rgba(0,0,0,.15);
}

.indexloading {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff url('../images/loading2.svg') center center no-repeat;
	background-size: 250px auto;
	z-index: 10000;
	transition: all 0.6s;
}

.indexloading.hide {
	visibility: hidden;
	opacity: 0;
}

.video_play_icon {
	position: absolute;
	right: 4px;
	bottom: 20px;
}

/* Responsive Codes */

@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 750px;
	}
	.container.blur {
		filter: blur(2px);
	}
	.header .categories {
		transition: all 1s;
	}
	.menushow .menuitem {
		width: 46%;
	}
	.aboutpage .aboutheader .about-logo {
		width: 180px;
	}
}

@media (min-width: 479px) and (max-width: 767px) {
	.container {
		width: 470px;
	}
	.menushow .menuitem {
		width: 98%;
		margin: 10px 5px 10px 5px;
	}
	.mainmenu {
		width: 50%;
	}
	.shcart {
		width: 50%;
	}
	.header .title {
		font-size: 29px;
	}
	.icon {
		height: 40px;
		width: 40px;
	}
	.header .shoppingcarticon.notempty {
		height: 48px;
		width: 48px;
	}
	.header .shoppingcarticon span {
		top: 8px;
		right: 5px;
	}
	.header .navicon {
		right: 15px;
	}
	.header .backicon {
		left: 15px;
	}
	.header .shoppingcarticon {
		left: 15px;
	}
	.header .shoppingcarticon.leftspace {
		left: 70px;
	}
	.header.shrink .categories .cat {
		width: 80px;
		font-size: 15px;
	}
	.mainmenu .close {
		width: 32px;
		height: 32px;
		left: 25px;
	}
	.shcart .close {
		left: 25px;
		width: 40px;
		height: 40px;
	}
	.paymentpage .paysummary li {
		font-size: 15px;
	}
	.paymentpage .paysummary li:last-child {
		font-size: 17px;
	}
	.paymentpage .paysummary li.fooditem {
		font-size: 13px;
	}
	
	.paymentpage .paymethod .li {
		font-size: 15px;
	}
	.paymentpage .paymethod .li .radio_description:before {
		width: 26px;
		height: 26px;
	}
	.categories .cat {
		font-size: 17px;
	}

	.swiper-container {
		height: 200px;
	}
	.swiper-container .swiper-slide {
		height: 160px;
	}
	.detailsbox .close {
		width: 32px;
		height: 32px;
	}
	.container {
		transition: filter 0s;
	}
	.bgwrap {
		transition: all 0s;
	}
	.container.blur {
		filter: none;
	}
	.header .categories {
		transition: all 1s;
	}
	.aboutpage .aboutheader .about-logo {
		width: 150px;
	}
}

.orders_separator {

	border: none;
	height: 5px !important;
	background: rgb(233, 245, 223);

}






@media (max-width: 478px) {
	.container {
		width: 90%;
	}
	.menushow .menuitem {
		width: 98%;
		margin: 10px 5px 10px 5px;
	}
	.categories .cat {
		width: 29%;
	}
	.mainmenu {
		width: 70%;
	}
	.shcart {
		width: 70%;
	}
	.orderlist .itemslist li {
		flex-wrap: wrap;
	}
	
	.orderlist .itemslist li .imgdesc {
		width: 100%;
	}
	
	.orderlist .itemslist li .leftcont {
		position: relative;
		transform: translateX(50%);
		text-align: center;
		right: 50%;
	}
	
	.orderlist .itemslist li .itemimage {
		width: 100px;
		height: 100px;
	}
	
	.orderlist .itemslist li .titledesc {
		width: 70%;
	}
	
	.orderlist .itemslist li .price {
		text-align: center;
	}
	
	.header .navicon {
		right: 10px;
	}

	.header .backicon {
		left: 10px;
	}

	.header .shoppingcarticon {
		left: 10px;
	}
	
	.header .title {
		font-size: 25px;
	}
	.icon {
		height: 36px;
		width: 36px;
	}
	.header .shoppingcarticon.notempty {
		height: 44px;
		width: 44px;
	}
	.header .shoppingcarticon span {
		top: 5px;
		right: 4px;
	}
	.header .shoppingcarticon.leftspace {
		left: 55px;
	}
	.mainmenu .close {
		width: 26px;
		height: 26px;
		left: 20px
	}
	.shcart .close {
		left: 20px;
		width: 34px;
		height: 34px;
	}
	.paymentpage .paysummary li {
		font-size: 13px;
	}
	.paymentpage .paysummary li:last-child {
		font-size: 16px;
	}
	.paymentpage .paysummary li.fooditem {
		font-size: 12px;
	}
	.paymentpage .paymethod .li {
		font-size: 14px;
	}
	.paymentpage .paymethod .li .radio_description:before {
		width: 23px;
		height: 23px;
	}
	.categories .cat {
		transition: all 0s;
		font-size: 16px;
		height: 80px;
		background-size: auto 60%;
	}
	.header.shrink .categories .cat {
		width: 70px;
		font-size: 12px;
	}
	.menuitem .itemdetails .title {
		font-size: 15px;
		font-weight: 500;
		text-overflow: ellipsis;
	}
	.menuitem .itemdetails .desc {
		width: 95%;
		font-size: 12px;
		height: 60px;
		margin-top: 2px;
		background: -webkit-linear-gradient(#f0f0f0 30%, rgba(255,255,255,0));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.swiper-container {
		height: 160px;
	}
	.swiper-container .swiper-slide {
		height: 120px;
	}
	.detailsbox .close {
		width: 28px;
		height: 28px;
	}
	.container {
		transition: filter 0s;
	}
	.bgwrap {
		transition: all 0s;
	}
	.menuitem .itemdetails .price .oldprice {
		font-size: 10px;
		text-decoration: line-through;
		line-height: 8px;
	}
	.menuitem.ordered .itemdetails .price .oldprice {
		font-size: 12px;
		line-height: 24px;
	}
	.menuitem .itemdetails .price .newprice {
		display: block;
		float: none;
		margin: 0;
	}
	.msgBox .innerbox {
		width: 95%;
	}
	.container.blur {
		filter: none;
	}
	.header .categories {
		transition: all 1s;
	}
	.setup-icon {
		top: 22%;
	}
	.setup-welcome .welcomestep {
		font-size: 36px;
	}
	.setup-icon img {
		width: 250px;
	}
	.setup-icon.gotop img {
		width: 60px;
	}
	.aboutpage .aboutheader .about-logo {
		width: 120px;
	}
}






@media only screen and (orientation: landscape) and (max-width: 767px) {
	.mainmenu .navmenu {
		max-height: 60%;
	}
	.swiper-container {
		height: 100px;
	}
	.swiper-container .swiper-slide {
		height: 70px;
	}
	.detailsbox .close {
		width: 28px;
		height: 28px;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
		max-height: 10px;
	}
	.detailsbox .itemcontent .title {
		font-size: 16px;
	}
	.detailsbox .itemcontent .description {
		font-size: 14px;
	}
}




@media only screen and (orientation: landscape) {
	.mainmenu .navmenu {
		max-height: 60%;
	}
	.homeintro-overlay .gotomenu .menuwowlogo {
		display: none;
	}
}