@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #eee;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    background-color: #999;
}
.one-third-seperate {
    height: 5px;
    clear: both;
}
.half-seperate {
    height: 10px;
    clear: both;
}
.seperate {
    height: 20px;
    clear: both;
}
.double-seperate {
    height: 40px;
    clear: both;
}
.ltr {
    direction: ltr;
}
.rtl {
    direction: rtl;
}
.image-form{
	display: flex;
}
.image-form div{
	display: inline-block;
}
.image-form img{
	height: 100px !important;
	margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;    
}
.image-form a{
	position: relative;
	left: -117px;
	top: 60px;
	z-index: 10;
	font-size: 11px;
	color: #dc0811;
	margin-left: 35px;
	text-decoration: none;
}
.m-login.m-login--1 .m-login__aside{
	padding: 2rem 3rem;
}
.m-login.m-login--1 .m-login__content{
	background-attachment: initial;
}
.display-none{
	display: none !important;
}
.separate{
	height: 30px;
	clear: both;
}
.m-sortable-table-body{
	height:200px; 
	overflow: scroll; 
	border: 1px solid #ddd;
	position: relative;
}

.iframe{
	border: none;
	width: 100%;
	height: 500px;
	margin: -30px;
}
.m-datatable__cell span{
	max-height: 120px !important;
}
.m-login.m-login--1 .m-login__wrapper
{
	padding-top: 0px;
}
.m-login .invalid-feedback{
	display: block !important;
}
.margin-bottom-20{
	margin-bottom: 20px !important;
}
.margin-top-20{
	margin-top: 20px !important;
}
.padding-0{
	padding: 0px !important;
}
.padding-20{
	padding: 20px !important;
}
.col-seperate{
	/*margin-bottom: 20px;*/
	min-height: 20px;
	border: 1px dotted #aaa;
}
.title-in-middle{
	text-align: center;
	font-size: 30px;
	color: #666;
	padding: 10px;
}
.glyphicon{
	font-family: LineAwesome !important;
}