@import"reset.css";
@import"../font-awesome.min.css";

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
    display: block;
}

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul,
var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

blockquote, q {
    quotes: none;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
}

embed {
    vertical-align: top;
}

input, select, textarea {
    outline: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

::selection {
    background: #6fbedc;
}

::-moz-selection {
    background: #6fbedc;
}

a {
    color: #ffffff;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #ffffff;
    background-color: #212429;
    font-size: 14px;
    margin: 0;
}

button {
    cursor: pointer;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

.clear {
    clear: both;
}

.container {
    margin: 10px auto;
    position: relative;
    width: 980px;
}

.container.fullpage {
    width: 100% !important;
	position: absolute;
	height: 100%;
}

.content .spacer {
	width: 100%;
}

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #171b1e;
    padding: 15px 10px;
    z-index: 10;
	position: relative;
}

.header .user, .header .menuselect {
    display: inline-block;
}

.header .user {
}

.header .user .user_pic {
	position: relative;
	display: inline-block;
}

.header .user img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.header .user .user_details {
    display: inline-block;
}

.header .user .user_details .name {
    font-size: 16px;
}

.header .user .user_details .post {
    margin-top: 6px;
    font-size: 12px;
}

.header .actions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .actions .action {
    background-color: transparent;
    background-position: 10px center;
    background-size: auto 50%;
    background-repeat: no-repeat;
    max-width: 44px;
    height: 44px;
    line-height: 30px;
	display: inline-block;
	margin: 0 10px;
    border-radius: 120px;
    border: 3px solid #f0f0f0;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
    transition: padding-left 0.5s, border 0.5s, max-width 0.5s, padding-left 0.5s;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.header .actions .action span {
    opacity: 0;
}

.header .actions .action:hover {
    padding-left: 36px;
    border: 3px solid #da315f;
    max-width: 230px;
}

.header .actions .action:hover span {
    opacity: 1;
    transition: opacity 0.5s;
}

.header .actions .action.to_cat {
    background-image: url('../../images/icons/merge.svg');
}

.header .actions .action.to_cat:hover {
    background-image: url('../../images/icons/merge-hover.svg');
}

.header .actions .action.to_setting {
    background-image: url('../../images/icons/settings.svg');
}

.header .actions .action.to_setting:hover {
    background-image: url('../../images/icons/settings-hover.svg');
}

.header .emergency_call {
    display: inline-block;
    float: right;
    font-size: 13px;
}

.header .emergency_call .icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../../images/icons/emergency_call.svg');
}

.header .emergency_call .inner {
    display: inline-block;
}

.header .emergency_call .tell {
    margin-top: 5px;
    text-align: right;
}

.header .emergency_call .thinText {
    margin: 3px 4px 0 0;
    display: inline-block;
}

.header .emergency_call .bigbold {
    font-size: 18px;
}

.connectioncheck {
	display: inline-block;
	transition: all 0.6s;
	position: absolute;
	left: 5px;
	top: 0;
}

.connectioncheck .internet_connection {
	padding: 0 18px 0 0;
	opacity: 0;
}

.connectioncheck:before {
	content: '';
	position: absolute;
	top: 3px;
	background: #2eb449;
	border-radius: 100px;
	width: 12px;
	height: 12px;
	transition: all 0.6s;
}

.connectioncheck.dc:before {
	background: #f8322d;
}

.content {
    background-color: #212429;
    width: 100%;
	margin-top: 15px;
	position: relative;
}

.footer {
    background-color: red;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 10;
    bottom: 0;
    right: 0;
    color: #ffffff;
    background: #7b78d9;
    background-image: -webkit-linear-gradient(30deg, #503a83 , #da315f);
    background-image: -o-linear-gradient(30deg, #503a83, #da315f);
    background-image: -moz-linear-gradient(30deg, #503a83, #da315f);
	height: 80px;
	
}

.msgBox {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 43, 51, 0.6);
    z-index: 2000;
    display: none;
}

.msgBox .innerbox {
    width: 380px;
    min-height: 160px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
}

.msgBox .innerbox .topSide {
    display: block;
    width: 100%;
    height: 80px;
    opacity: 0.9;
    letter-spacing: 1px;
    padding-top: 55px;
    color: #242424;
    filter: alpha(opacity=90);
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url('../../images/icons/warning.svg');
    border-bottom: 1px solid #d9d9d9;
}

.msgBox.success .innerbox .topSide {
    background-image: url('../../images/icons/success.svg');
}

.msgBox.edit .innerbox .topSide {
    background-image: url('../../images/icons/edit.svg');
    background-size: 35px;
}

.msgBox.ordersettings .innerbox .topSide {
    background-image: url('../../images/icons/settings-hover.svg');
    background-size: 35px;
}

.msgBox .innerbox .bottomSide {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #2e2e2e;
    padding: 10px 0 10px 0;
}

.msgBox .innerbox .btns {
    width: 100%;
    display: block;
    padding: 10px;
    border-top: 1px solid #d9d9d9;
}

.msgBox .innerbox .btns .btn {
    width: 100px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 5px 11px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.msgBox .innerbox .btns .btn.cancelBtn {
    background-color: #2e2e2e;
}

.msgBox .innerbox .btns .btn.confirmBtn {
    background: #7b78d9;
    background-image: -webkit-linear-gradient(30deg, #503a83 , #da315f);
    background-image: -o-linear-gradient(30deg, #503a83, #da315f);
    background-image: -moz-linear-gradient(30deg, #503a83, #da315f);
}

.msgBox .innerbox .btns .btn:hover {
    width: 120px;
}

.msgBox .innerbox .exit {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    top: 0;
    opacity: 0.85;
    filter: alpha(opacity=85);
    right: 0;
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: center;
    background-image: url('../../images/icons/close-white.svg');
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.msgBox .innerbox .exit:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.msgBox .form-group {
    margin-top: 20px;
}

.msgBox .form-group:first-child {
    margin-top: 0;
}

.msgBox .icons_box {
    background-color: #ececec;
    font-size: 0;
	max-height: calc(90vh - 300px);
	min-height: 40px;
	overflow: auto;
}

.msgBox .form-group input {
    padding: 5px 15px;
    width: 60%;
    border: 1px solid #c5c5c5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.msgBox .form-group label {
    display: block;
    font-size: 14px;
    padding-bottom: 8px;
}

.msgBox .icons_box .form-group {
    display: inline-block;
    width: 20%;
    height: 40px;
    margin: 0;
}

.msgBox .icons_box label {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.msgBox .icons_box input {
    display: none;
}

.icon_input_label {
	position: relative;
}

.icon_input_label:after {
	position: absolute;
	content: "";
	right: 19px;
	top: 2px;
	width: 4px;
	height: 9px;
	transform: rotate(45deg);
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	opacity: 0;
}

.icon_input_label:before {
	position: absolute;
	content: "";
	right: 14px;
	top: 0;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	background: #278256;
	opacity: 0;
}

.icons_box input:checked ~ .icon_input_label:after {
	opacity: 1;
}

.icons_box input:checked ~ .icon_input_label:before {
	opacity: 1;
}

.modules_panel .item {
    background-image: url('../../images/icons/close.svg');
    background-position: center 15px;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
    line-height: 120px;
    opacity: 0.5;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.modules_panel .item:hover,
.modules_panel .item.active {
    opacity: 1;
}

.modules_panel #menumaker {
    background-image: url('../../images/icons/menumaker-icon.svg');
}

.modules_panel #orders {
    background-image: url('../../images/icons/orders-icon.svg');
}

.modules_panel #ordershistory {
    background-image: url('../../images/icons/ordershistory-icon.svg');
}

.modules_panel #settings {
    background-image: url('../../images/icons/settings-icon.svg');
}

.address_bar {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    background-color: #171b1e;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    overflow: hidden;
}

.address_bar .separator {
    display: inline-block;
    width: 8px;
    height: 40px;
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/icons/right-arrow2.svg');
}

.address_bar .address {
    display: inline-block;
    padding: 10px 20px;
}

.address_bar .address.current_page {
    position: relative;
    background: #7b78d9;
    background-image: -webkit-linear-gradient(0deg, #503a83 , #da315f);
    background-image: -o-linear-gradient(0deg, #503a83, #da315f);
    background-image: -moz-linear-gradient(0deg, #503a83, #da315f);
}

.address_bar .address.current_page:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #503a83;
}

.address_bar .address.current_page:before {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #503a83;
}

.cards {
    margin: 5px 0 0;
	padding: 0 10px 0 10px;
    white-space: nowrap;
    overflow-x: auto;
	height: 100%;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

#mCSB_2_container {
	position: absolute;
	height: 100%;
}

.cardsinner {
	display: flex;
	align-items: flex-start;
	height: 100%;
}

.cardsinner .swiper-slide {
	width: 300px;
	margin: 0 10px auto;
	float: left;
	height: auto;
	display: block;
}

.cards .cardsinner .card {
    width: 100%;
    min-height: 100px;
	max-height: 100%;
    display: block;
    overflow: visible;
    background-color: #ececec;
    border-radius: 10px;
	position: relative;
}

.cards .card:last-child {
    margin-right: 0;
}

.cards .card .cardheader {
    background-color: #ffffff;
    color: #353535;
    font-size: 16px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 12px 15px 12px 15px;
}

.cards .card .cardheader .leftsec {
    width: 60%;
}

.cards .card .cardheader .rightsec {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s;
}

/*.card:hover .rightsec, .card .rightsec.moved {*/
    /*margin-right: 20px !important;*/
/*}*/

.cards .card .card_name {
    display: inline-block;
    padding: 3px 0 3px 0;
}

.cards .card .batchicon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 5px 0 5px 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.cards .card:hover .batchicon {
    visibility: visible;
}

.cards .card .batchicon:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.cards .card .edit_card {
    background-image: url('../../images/icons/edit.svg');
}

.cards .card .card_archive {
    background-image: url('../../images/icons/archive.svg');
}

.cards .card .card_icon {
    width: 24px;
    height: 24px;
    transition: all 0.5s;
}

.cards .card .card_select {
    padding: 3px 0 3px 3px;
    position: absolute;
    right: 10px;
}

.select_input {
    position: absolute;
    z-index: -1;
    opacity: 0;
	display: none;
}

.select_indicator {
    margin: 3px 0 3px 3px;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border: 1px solid #becad6;
    border-top-color: rgb(190, 202, 214);
    border-right-color: rgb(190, 202, 214);
    border-bottom-color: rgb(190, 202, 214);
    border-left-color: rgb(190, 202, 214);
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
    border-radius: 3px;
    display: block;
    position: relative;
    opacity: 0;
}

.select_indicator .title {
	padding-left: 24px;
	color: #111;
}

.card:hover .select_indicator {
    opacity: 1;
}

.select_indicator::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
    transition-delay: .1s;
}

.select_input:checked ~ .select_indicator {
    color: #fff;
    background-color: #007bff;
    border-color: transparent;
    box-shadow: none;
}

.select_input:checked ~ .select_indicator::after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.select_input:focus~.select_indicator {
    box-shadow:0 5px 10px rgba(0,123,255,.2),0 5px 10px rgba(0,0,0,.1);
}

.select_input:checked ~ .select_indicator {
    opacity: 1;
}

.select_input:checked > .card .rightsec {
    margin-right: 20px;
}

.card .items {
    position: static;
    padding: 10px;
	overflow: auto;
}

.card .items .items_list {
	min-height: 10px;
}

.card .items form {
	margin: 10px auto;
}

.mCSB_horizontal.mCSB_inside > .mCSB_container {
	margin-bottom: 5px !important;
}

.card .mCSB_container {
	padding-right: 10px;
}

.card .items .item {
    width: 100%;
    display: block;
    color: #353535;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 40px;
	z-index: 20;
	-webkit-box-shadow: 2px 2px 5px rgba(65, 65, 65, 0.1);
    box-shadow: 2px 2px 5px rgba(65, 65, 65, 0.1);
}

.card .items .item:last-child {
    margin-bottom: 0;
}

.card .items .item:hover {
    -webkit-box-shadow: 2px 2px 5px rgba(65, 65, 65, 0.4);
    box-shadow: 2px 2px 5px rgba(65, 65, 65, 0.4);
}

.card .items .item img {
    width: 30px;
    height: 30px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.card .items .item[id^="item"] img { 
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25882352941176473);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25882352941176473);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25882352941176473);
}

.card .items .item .name {
    display: inline-block;
	width: 70%;
    padding: 7px 0 0 0;
	text-overflow: ellipsis;
}

.card .items .item.hide .name:before {
	content: '';
    position: absolute;
	top: 50%;
	transform: translate(-4%,-50%);
	width: 70%;
	height: 2px;
	background: #000;
	opacity: 0.8;
}

.card .items .item .name span {
	margin-left: 10px;
    display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card .items .item.finished {
    background: #da315f;
	color: #fff;
}

.card .items .item.incomplete {
    border: 2px solid #fcb50b;
}

.card .items .item.discounted .discounticon {
	display: inline-block;
}

.card .items .item .discounticon {
	color: #d73160;
	display: none;
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	opacity: 1;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100px;
}

.card .add_item {
    background-color: #f9f9f9;
    padding: 20px;
    color: #353535;
    border: none;
    width: 100%;
    outline: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
}

.card .add_item:focus {
    background-color: #ffffff;
}

.card .add_item_btn {
    display: none;
    margin: 0 auto;
    width: 70%;
    padding: 12px 0;
    color: #ffffff;
    margin-top: 10px;
    background: #7b78d9;
    cursor: pointer;
    background-image: -webkit-linear-gradient(30deg, #503a83 , #da315f);
    background-image: -o-linear-gradient(30deg, #503a83, #da315f);
    background-image: -moz-linear-gradient(30deg, #503a83, #da315f);
    border: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.card .add_item_btn:hover,
.add_card .add_card_btn:hover {
    width: 100%;
}

.add_card {
    display: inline-block;
	width: 300px !important;
}

.add_card_input {
    display: inline-block;
    background-color: #171b1e;
    padding: 20px;
    color: #ffffff;
    border: none;
	width: 100%;
    outline: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
}

.add_card .add_card_btn {
    display: none;
    margin: 0 auto;
    width: 70%;
    padding: 12px 0;
    color: #ffffff;
    margin-top: 10px;
    background: #171b1e;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.bgwrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 50;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}

.bgwrap.show {
    visibility: visible;
    opacity: 0.4;
}

.item_info {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
	transition: all 0.3s;
}

.item_info .inner {
    position: absolute;
    height: 100%;
    width: 440px;
    left: 0;
    top: 0;
    background-color: #242b33;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    padding: 20px 10px;
    transition: all 0.4s;
}

.item_info .inner .head {
	padding: 0 10px;
}

.item_info .name {
    text-transform: uppercase;
    font-weight: normal;

}

.item_info .name span {
	display: inline-block;
    color: #da315f;
    padding-left: 5px;
    letter-spacing: 1px;
	max-width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item_info .parent {
    font-weight: normal;
    font-size: 13px;
}

.item_info .parent span {
    color: #c07eff;
    padding-left: 5px;
}

.item_info .head .title {
    display: inline-block;
}

.item_info .head .btns {
    position: absolute;
	right: 14px;
	top: 16px;
}

.item_info .head .btns div {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0.9;
    filter: alpha(opacity=90);
    margin-left: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.item_info .head .btns div.pin_btn {
    background-image: url('../../images/icons/push-pin.svg');
    background-size: 15px;
}

.item_info .head .btns div.show_btn {
    background-image: url('../../images/icons/show.svg');
    background-size: 20px;
}

.item_info .head .btns div.hide_btn {
    background-image: url('../../images/icons/hide.svg');
    background-size: 20px;
}

.item_info .head .btns div:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.item_info .item_body {
    margin-top: 20px;
    overflow: auto;
	padding: 0 10px;
}

.item_info .item_body input {
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 8px 8px 8px 30px;
    background-color: transparent;
    width: 100%;
    color: #ffffff;
}

.item_info .item_body #item_name {
    background-image: url('../../images/icons/close.svg');
    background-size: 18px;
    background-position: calc(100% - 2px) center;
    background-repeat: no-repeat;
}

.item_info textarea {
	resize: none;
}

.item_info .item_body textarea {
    margin: 15px 0;
    border: 1px solid #ffffff;
    padding: 8px;
    background-color: transparent;
    width: 100%;
    color: #ffffff;
    border-radius: 5px;
}

.item_info .gallery_box {
    width: 100%;
    font-size: 0;
    display: block;
}

.item_info .main_pic {
    display: inline-block;
    width: 25%;
    padding: 0 7.5px 0 0;
}

.item_info .gallery_pics {
    display: inline-block;
    width: 75%;
    padding: 0 0 0 7.5px;
}

.item_info .gallery_box .pic_frame {
    position: relative;
    width: 100%;
    height: 80px;
    display: block;
    border: 1px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.mcs-horizontal-gallery {
  width: 100%;
  overflow-x: auto;
  display: -webkit-flex; display: flex;
  -webkit-flex-direction: row; flex-direction: row;
}

.mcs-horizontal-gallery .mCSB_container {
  display: -webkit-flex; display: flex;
  overflow: visible;
}

.item_info .main_pic .pic_frame {
    background-image: url('../../images/icons/camera.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.item_info .gallery_box img {
    width: 100%;
    height: 100%;
}

.item_info .gallery_box .uploadPic {
    width: 100%;
    height: 100%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/icons/camera.svg');
    position: absolute;
    z-index: 2;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    outline: none;
    /*cursor: pointer;*/
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

/*.item_info .gallery_box .main_pic:hover .uploadPic {*/
    /*opacity: 1;*/
/*}*/

.item_info .gallery_box input[type=file] {
    display: none;
}

.item_info .gallery_pics .pic_frame {
    font-size: 0;
    padding: 0 5px;
}

.item_info .gallery_pics .pic_frame .pic_item {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	flex: 0 0 auto;
	position: relative;
}

.item_info .pic_frame .del {
	position: absolute;
	right: 0;
	top: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	border-radius: 50px;
	color: #f0f0f0;
	background: #c4183c;
	background-size: 50% auto;
	cursor: pointer;
	box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
	opacity: 0;
	transition: all 0.15s;
}

.item_info .main_pic .pic_frame .del {
	right: -10px;
	top: -10px;
	z-index: 100;
}

.pic_item:hover .del {
    opacity: 0.95;
}

.pic_item:hover img {
    cursor: pointer;
    transition: .3s all;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.63);
}

.main_pic .pic_frame:hover .del {
	opacity: 0.95;
}

.item_info .gallery_pics #add_gallery_label {
    display: inline-block;
    width: 55px;
    height: 55px;
    flex: 0 0 auto;
    position: absolute;
    top: 12%;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    background-image: url('../../images/icons/add.svg');
    opacity: 0.75;
    filter: alpha(opacity=85);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.item_info .gallery_pics img {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.item_info .gallery_pics .pic_item:last-child .i {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.item_info .gallery_pics #add_gallery_label:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.item_info .price_discount {
    font-size: 0;
}

.item_info .price_discount .price_sec,
.item_info .price_discount .discount_sec {
    font-size: 14px;
    display: inline-block;
    margin-right: 0;
    margin-top: 10px;
	position: relative;
}

.item_info .price_discount .price_sec {
	width: 100%;
}

.item_info .price_discount .discount_sec {
	width: 61%;
	position: relative;
    margin: 10px 0 0 2%;
}

.item_info .price_discount .mprice {
	display: inline-block;
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
	opacity: 0.5;
	pointer-events: none;
}

.item_info .price_discount #price_input {
    background-image: url('../../images/icons/price-tag.svg');
	background-size: 18px;
    background-position: 2px center;
    background-repeat: no-repeat;
    width:100%;
}

.item_info .price_discount .discount_sec .discount_sec_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.item_info .discount_sec .discpercent_input {
	border-bottom: none;
	padding: 2px;
	width: 13%;
	font-size: 21px;
	text-align: right;
	color: #d03262;
	margin-left: 10px;
}

.item_info .discount_sec .discount_label {
	width: 15%;
	position: relative;
	margin-left: -10px;
	pointer-events: none;
}

.item_info .discount_sec .discount_label .discount_label_control {
	display: none;
}

.discount_label_indicator {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-image: url('../../images/icons/percentage.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 32px;
    height: 32px;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
}

.discount_label_control:checked ~ .discount_label_indicator, .discount_label_indicator.checked {
    background-image: url('../../images/icons/percentage2.svg');
}

.item_info .discount_sec .discount_price {
	width: 60%;
	padding-left: 0px;
	opacity: 0.5;
}

.item_info #quantity_input {
    background-image: url('../../images/icons/quantity.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 2px center;
    display: inline-block;
    width: 50%;
    margin-top: 10px;
}

#infinite {
    background: url("../../images/icons/infinite-selected.svg");
    background-size: cover;
    width:30px;
    height: 30px;
}
#limited {
    background: url("../../images/icons/infinite.svg");
    background-size: cover;
    width:30px;
    height: 30px;
    cursor: pointer;
}
.infinite_limited {
    display: inline-block;
    margin: 20px 0 0 20px;
}

.disabled_input {
    cursor: not-allowed;
}

.disabled {
    cursor: not-allowed;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    margin: 7px 10px 0;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

input:checked + .slider {
    background: #da315f;
    background-image: -webkit-linear-gradient(30deg, #503a83 , #da315f);
    background-image: -o-linear-gradient(30deg, #503a83, #da315f);
    background-image: -moz-linear-gradient(30deg, #503a83, #da315f);
}

input:focus + .slider {
    box-shadow: 0 0 1px #fd5c64;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.typeUseSwitch {
    display: table;
    margin: 18px 20px 0 0;
    display: inline-block;
}

.typeUseSwitch #switchInfo {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    padding-left: 10px;
    color: #ffffff;
}

.item_info .groups {
    margin-bottom: 10px;
}

.item_info .groups .title {
    letter-spacing: 1px;
}

.item_info .groups .gp_item {
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    margin: 5px 3px;
    font-size: 13px;
    background: #7b78d9;
    background-image: -webkit-linear-gradient(30deg, #503a83 , #da315f);
    background-image: -o-linear-gradient(30deg, #503a83, #da315f);
    background-image: -moz-linear-gradient(30deg, #503a83, #da315f);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    min-height: 20px;
}

.item_info .groups .gp_item .gp_tag_rm {
    position: absolute;
    top: -7px;
    right: -2px;
    width: 15px;
    height: 15px;
    background: transparent url('../../images/icons/delete.svg') center center no-repeat;
    color: #212529;
    text-align: center;
    line-height: 15px;
    border-radius: 20px;
    background-size: cover;
    transition: all 0.15s ease 0s;
    opacity: 0;
    cursor: pointer;
}

.item_info .groups .gp_item:hover .gp_tag_rm {
    opacity: 0.85;
    transition: all 0.15s ease 0.15s;
}

.item_info .groups .gp_item .gp_tag_rm:hover {
    opacity: 1;
    transition: all 0.15s ease 0s;
}


.item_info .groups .add_gi {
    width: 26px;
    height: 26px;
    padding: 0;
    display: inline;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin: 0 0 0 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 40%;*/
    background-size: auto 50%;
    background-image: url('../../images/icons/add.svg');
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    font-size: 0;
    position: relative;
    bottom: 19px;
}

.item_info .groups .add_gi:hover {
    width: 100px;
    font-size: 13px;
    padding: 0 15px;
    background-image: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.item_info .comments {
    width: 100%;
    text-align: center;
    padding: 7px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.item_info .btns .archive {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #ffb400;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
    background-image: url('../../images/icons/archive.svg');
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.item_info .btns .delete {
    width: 40px;
    height: 40px;
    background-color: #c4183c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
    background-image: url('../../images/icons/delete-button.svg');
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    display: none;
}

.item_info .btns .delete.displayed {
    display: inline-block !important;
}

.item_info .btns .close {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url('../../images/icons/close.svg');
}

.item_info .btns input, .item_info .btns button {
    display: inline-block;
    width: 280px;
    height: 40px;
    margin: 0 15px;
    background-color: #278256;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    border: none;
}

.item_info .btns button {
	color: #fff;
}

.item_info .fixedBottom {
    position: absolute;
    bottom: 20px;
}

.orders_list_wrapper {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	position: relative;
}

.orders_list_wrapper .order_list_settings {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	font-size: 26px;
	margin: 0 1% 0 0;
	opacity: 0.4;
	transition: all 0.3s;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.orders_list_wrapper .order_list_settings:hover {
	opacity: 1;
}

.orders_list_x {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.orders_list {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 10px 0px;
	height: 100%;
}

.orders_list:last-child {
	border-bottom: none;
}

.orders_list_wrapper.waiter_call .order_list_settings {
	background-image: url('../../images/icons/ordersinfo/00-waiter-call.svg');
}

.orders_list_wrapper.order_quantity_check .order_list_settings {
	background-image: url('../../images/icons/ordersinfo/01-quantity-check.svg');
}

.orders_list_wrapper.cash_payment .order_list_settings {
	background-image: url('../../images/icons/ordersinfo/02-cash-payment.svg');
}

.orders_list_wrapper.paid_orders .order_list_settings {
	background-image: url('../../images/icons/ordersinfo/03-paid-orders.svg');
}

.orders_list_wrapper.completed_orders .order_list_settings {
	background-image: url('../../images/icons/ordersinfo/04-completed-orders.svg');
}

.orders_list .order_disk {
	content: attr(data-orderid);
	font-size: 17px;
	background: transparent;
	border-radius: 400px;
	text-align: center;
	cursor: pointer;
	margin: 0 6px auto;
	flex: 0 0 auto;
	position: relative;
	height: 100%;
}

.orders_list .order_disk span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.waiter_call .order_disk {
	border: 5px solid #00aae2;
	box-shadow: 0px 0px 5px 0px #00aae2;
}

.order_quantity_check .order_disk {
	border: 5px solid #ab2424;
	box-shadow: 0px 0px 5px 0px #ab2424;
}

.cash_payment .order_disk {
	border: 5px solid #babf2f;
	box-shadow: 0px 0px 5px 0px #babf2f;
}

.paid_orders .order_disk {
	border: 5px solid #287426;
	box-shadow: 0px 0px 5px 0px #287426;
}

.completed_orders .order_disk {
	border: 5px solid #5c36af;
	box-shadow: 0px 0px 5px 0px #5c36af;
}

.orders_list .order_box .order_items {
	
}

.orders_list .order_box .order_items li {
	margin: 24px auto;
	display: flex;
}

.orders_list .order_box .order_items li .itemname {
	width: 50%;
	text-align: left;
}

.orders_list .order_box .order_items li.leftpadding {
	padding-left: 25px;
}

.orders_list .order_box .order_items li>span {
	width: 50%;
	text-align: right;
}

.orders_list .order_box hr {
	border: none;
	background: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	opacity: 0.1;
}

.orders_list .order_box .choices {
	display: flex;
	justify-content: space-around;
	margin: 20px 0 15px 0;
}

.choices .action_button {
	border-radius: 100px;
	padding: 12px 30px 12px 30px;
	border: none;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	margin: 0 7px 0 7px;
	font-size: 14px;
	box-shadow: 0 4px 0px rgba(0,0,0,.1);
	position: relative;
}

.choices .action_button:hover {
	box-shadow: 0 4px 0px rgba(0,0,0,.2);
}

.choices .action_button:active {
	top: 2px;
	box-shadow: 0 2px 0px rgba(0,0,0,.2);
}

.action_button span {
	display: inline-block;
	width: 100%;
}

.action_button span:before {
	content: '';
	height: 20px;
	width: 20px;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: -5px;
}

.action_button.yes {
	background-color: #278256;
}

.action_button.yes:hover {
	background-color: #1b6742;
}

.action_button.no {
	background-color: #c4183c;
}

.action_button.no:hover {
	background-color: #9f112f;
}

.order_box .card_select {
	visibility: hidden;
	transition: all 0.15s;
}

.order_box .card_select.visible {
	visibility: visible;
}

.order_box .select_indicator {
	opacity: 1;
	position: absolute;
	left: 22px;
	margin: 0;
	background: #212529;
	border: 1px solid rgba(255,255,255,0.1);
}

.order_box .ordercount {
	line-height: 24px;
}

.order_box .ordercount_input {
	display: none;
}

.order_box .ordercount_input input {
	float: right;
	width: 36px;
	line-height: 24px;
	background: rgba(0,0,0,.9);
	color: #fff;
	border: none;
	border-radius: 30px;
	text-align: center;
	padding: 0 5px 0 5px;
}

.order_box .ordercount_input input:focus {
	box-shadow: 0px 0px 10px 2px rgba(32,117,209,1);
}

.footer .owl-stage-outer.flex {
	display: flex;
	justify-content: center;
}

.item_title_lable {
    display: inline !important;
}

.appended_tags {
    margin-top: -15px;
}

.danger {
   color: #FF0000 !important;
}

.hidden {
    display: none !important;
}
.center {
    text-align: center;
}

.success_alert {
	position: fixed;
	left: 50%;
	transform: translate(-50%,-100%);
	border-radius: 400px;
	padding: 12px 22px 12px 22px;
	font-size: 15px;
	z-index: 101;
	box-shadow: 5px 5px 15px rgba(0,0,0,.2);
	line-height: 25px;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
}

.success_alert.show {
	transform: translate(-50%,0);
	visibility: visible;
	opacity: 1;
}

.successfully_saved {
	background: #278256;
	top: 50px;
}

.successfully_reset {
	background: #000;
	top: 110px;
}

.successfully_printer_set {
    background: #278256;
    top: 170px;
}

.successfully_saved.show {
	transform: translate(-50%,0);
	visibility: visible;
	opacity: 1;
}

.settings_page {
	margin: 20px auto 100px auto;
	text-align: center;
}

.settings_page .settings_section {
	display: flex;
	background: #24282d;
	border-radius: 0px;
	padding: 10px 20px;
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,.15);
	margin: 20px auto;
}

.settings_section .settings_section_left {
	width: 40%;
	padding: 20px 0;
}

.settings_section .settings_section_right {
	width: 65%;
}

.settings_page .settings_header {
	position: relative;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
}

.settings_page .settings_icon {
	font-size: 38px;
	padding: 10px;
}

.settings_page .change_admin_setting {
	padding: 10px;
	background: #24282d;
	border-radius: 0px;
	color: #fff;
}

.settings_page .onesetting {
	display: flex;
	border-bottom: 1px solid rgba(255,255,255,.1);
	padding: 20px 10px;
}

.onesetting_wrapper div:last-child {
	border-bottom: none;
}

.onesetting .setting_title {
	font-size: 14px;
	padding: 8px 5px;
	display: inline-block;
	letter-spacing: 1px;
	width: 65%;
	text-align: left;
}

.onesetting .setting_content {
	width: 45%;
	text-align: left;
}

.settings_page select {
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23FFF' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 10px center;
	background-size: 8px 10px;
	transition: border-color 250ms cubic-bezier(.27,.01,.38,1.06),box-shadow 250ms cubic-bezier(.27,.01,.38,1.06);
}

.settings_page select option {
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
}

.settings_page select, .settings_page input, .settings_page textarea {
	border: none;
	color: #fff;
	width: 100%;
	box-shadow: inset 2px 2px 3px rgba(0,0,0,.15);
	padding: 8px 15px;
	border: none;
	background-color: rgba(0,0,0,.1);
	border-radius: 7px;
}

.setting_show_color {
    width: 20px;
    height: 20px;
    border:1px solid silver !important;
    border-radius:50%;
    position: relative;
    top:10px;
    right:10px;
}

.settings_page input[type=radio] {
	width: auto;
	float: right;
}

.settings_page .submitbutton, .settings_page .resetnum {
	padding: 12px;
	border-radius: 200px;
	margin: 10px auto;
	width: 100%;
}

.submitbutton {
	background: transparent linear-gradient(30deg, #503a83, #da315f) center center no-repeat;
	background-size: cover;
	color: #f0f0f0;
	border: none;
	border-radius: 200px;
	margin: 10px auto;
}

.submitbutton:hover {
	background: transparent linear-gradient(30deg, #422880, #bf1342) center center no-repeat !important;
}

.settings_page .resetnum {
	background: #1d1e20 center center no-repeat;
	color: #f0f0f0;
	border-radius: 100px;
	border: none;
	width: 100%;
}

.settings_page .resetnum:hover {
	background: #171a1d center center no-repeat;
}

.filter_datepicker {
    direction: rtl !important;
}

.setting_check {
	width: 100%;
	display: block;
}

.setting_check .select_indicator {
	border: 1px solid rgba(0,0,0,.2);
	opacity: 1;
	display: inline-block;
	position: relative;
}

.setting_check .title {
	display: inline-block;
	padding: 3px 7px;
}

.orders_history {
	padding: 0 20px;
}

.orders_history .filters .filters_form {
	display: flex;
	justify-content: center;
	 flex-wrap: wrap;
}

.filters .filters_form .filter {
	min-width: 230px;
	margin: 5px 30px auto;
}

.orders_history .filters .filter_title {
	margin: 8px auto;
}

.filters .filters_form .filter input, .filters .filters_form .filter select {
	display: block;
	border-radius: 100px;
	border: none;
	text-align: left;
	margin: 5px auto;
	width: 100%;
	color: #fff;
	padding: 8px 16px;
	background-color: rgba(0,0,0,.4);
}

.filters .filters_form .filter input:hover, .filters .filters_form .filter select:hover {
	background-color: rgba(0,0,0,.8);
}

.filters .filters_form .filter select {
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat 95% center;
	background-color: rgba(0,0,0,.4);
	background-size: 8px 10px;
	transition: border-color 250ms cubic-bezier(.27,.01,.38,1.06),box-shadow 250ms cubic-bezier(.27,.01,.38,1.06);
}

.filter select option {
    background: rgba(0, 0, 0, 1);
}

.orders_history .submitbutton {
	display: block;
	margin: 10px auto;
	border-radius: 100px;
	line-height: 36px;
	width: 210px;
	border: none;
}

.orders_history .table_container {
	margin: 10px auto;
}

.table_container .orders_list_table {
	border-radius: 10px;
	border: 5px solid #1e2125;
	width: 100%;
	background: #1e2024;
	border-collapse: separate;
    border-spacing: 0;
}

.orders_list_table tr {
	text-align: left;
}

.orders_list_table tr td, .orders_list_table tr th {
	padding: 16px 10px 16px 20px;
	vertical-align: middle;
}

.orders_list_table tr th {
	border-bottom: 3px solid #21252a;
}

.orders_list_table tr:nth-child(4n), .orders_list_table tr:nth-child(4n+1) {
	background: #24282d;
}

.orders_list_table .select_indicator {
	margin: 0px auto;
	border: 1px solid rgba(255,255,255,.2);
	opacity: 1;
	background: transparent;
	display: inline-block;
	position: relative;
}

.orders_list_table .more {
	border-radius: 100px;
	background: #2075d1;
	width: 100%;
	color: #fff;
	border: none;
	text-transform: capitalize;
	padding: 10px 0 10px 0;
}

.orders_list_table .more:hover {
	background: #0d55a2;
}

.red {
    color: #FF0000 !important;
}

.card_archive {
    cursor: pointer !important;
}

.orders_list_table .ordermore {
	text-align: center;
	display: none;
	transition: all 1s;
}

.ordermore .ordersection {
	display: inline-block;
	background-color: #212529;
	margin: 0 1% 20px 1%;
	border-radius: 10px;
	text-align: left;
	overflow: hidden;
	box-shadow: 0px 0px 30px rgba(0,0,0,.3);
	transition: box-shadow 0.5s;
}

.ordermore #orderdetails {
	width: 29%;
}

.ordermore #orderitems {
	width: 35%;
}

.ordermore #userdetails {
	width: 29%;
}

.ordermore .ordersection:hover {
	box-shadow: 12px 12px 30px rgba(0,0,0,.5);
}

.ordermore .ordersection header {
	padding: 15px 10px;
}

.ordermore #orderdetails header {
	background: linear-gradient(180deg, #d1c720, #98960c);
}

.ordermore #orderitems header {
	background: linear-gradient(180deg, #2075d1, #0c4f98);
}

.ordermore #userdetails header {
	background: linear-gradient(180deg, #d1204a, #980c41);
}

.ordersection .contentsec {
	padding: 5px 20px;
	line-height: 40px;
}

.ordersection .contentsec .line {
	text-transform: capitalize;
}

.ordersection .contentsec .line span {
	float: right;
}

.ordersection .itemstable {
	
}

.detailtables tr {
	background: transparent !important;
}

.detailtables tr th {
	opacity: 0.5;
}

.detailtables tr th, .detailtables tr td {
	padding: 0px;
}

.detailtables tr th:nth-child(1) {
	width: 10%;
}

.detailtables tr th:nth-child(2) {
	width: 60%;
}

.detailtables tr th:nth-child(3) {
	width: 30%;
}

.ordersection .factortable {
	width: 60%;
	float: right;
}

.factortable tr td:nth-child(1) {
	text-transform: uppercase;
}

.factortable tr td:nth-child(2) {
	float: right;
}

.ordersinfobox {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0 10px;
}

.ordersinfobox div:last-child {
	border-bottom: none;
}

.infoBox_wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	display: none;
}

.infoBox {
	position: fixed;
	min-width: 20px;
	min-height: 60px;
	background: rgba(244,248,251,1);
	z-index: 1001;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
	width: 400px;
	text-align: center;
	max-height: 100%;
	overflow: auto;
}

.order_quantity_check_infobox .orderinfo_header, .order_quantity_check_infobox button {
	background: #ae1111;
	color: rgba(255,255,255,.9);
}

.order_quantity_check_infobox button:hover {
	background: #880d0d;
}

#show_card {
    background-image: url('../../images/icons/no.svg');
}

#shop_card {
    background-image: url('../../images/icons/yes.svg');
}

.cash_payment_infobox .orderinfo_header, .cash_payment_infobox button {
	background: #dde41c;
	color: rgba(0,0,0,.9);
}

.cash_payment_infobox button:hover {
	background: #c3c922;
}

.waiter_call_infobox .orderinfo_header, .waiter_call_infobox button {
    background: #00aae2;
    color: rgba(0,0,0,.9);
}

.waiter_call_infobox button:hover {
    background: #1c8eb3;
}

.paid_orders_infobox .orderinfo_header, .paid_orders_infobox button {
	background: #277e25;
	color: rgba(255,255,255,.9);
}

.paid_orders_infobox button:hover {
	background: #155a13;
}

.completed_orders_infobox .orderinfo_header, .completed_orders_infobox button {
	background: #513a83;
	color: rgba(255,255,255,.9);
}

.completed_orders_infobox button:hover {
	background: #392467;
}

.infoBox .orderinfo_header {
	padding: 25px 0 0 0;
	box-shadow: 0px 7px 0px rgba(0,0,0,.07);
}

.orderinfo_header .infoicon, .orderinfo_header .infotitle, .orderinfo_header .factornumber {
	font-size: 18px;
}

.orderinfo_header .infoicon {
	font-size: 25px;
	line-height: 50px;
}

.orderinfo_header .factornumber {
	font-size: 68px;
	position: relative;
	line-height: 80px;
}

.orderinfo_header .factornumber>span {
	position: absolute;
	font-size: 12px;
	transform: translate(-100%,-19px);
	padding-right: 5px;
}

.infoBox .order_box {
	color: #000;
	padding: 0px 10px;
}

.infoBox .order_box ul {
	padding: 0px 30px;
}

.gallery_progress_percentage {
    text-align: right;
}

.off_ordering {
    font-size: 20px;
    padding-left: 64px;
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
    color: #c0c0c0;
    font-weight: bold;
}

.end_orderitems_list {
    background: #000000 !important;
}

.elder_order {
    opacity: 0.2 !important;
}

.not_elder_order {
    opacity : 1 !important;
}
/*ordering Madule styles*/
/*.ordercount_input {*/
    /*display: none !important;*/
/*}*/