@import"fonts-en.css";

body {
    font-family: 'Roboto-Regular', 'Poppins-Regular';
}

input, textarea, form select, button, header, h1, h2, h3, h4, h5, select {
    font-family: 'Roboto-Regular', 'Poppins-Regular';
}

.header .user .user_details .name {
    font-family: 'Roboto-Medium';
}

.header .user .user_details .post {
    font-family: 'Roboto-Light';
	text-transform: uppercase;
    letter-spacing: 2px;
}

.header .actions .action span {
	text-transform: uppercase;
	font-family: 'Poppins-Medium';
}

.header .emergency_call .bigbold {
    font-style: italic;
    font-family: 'Roboto-Bold';
}

.msgBox .innerbox .topSide {
    font-family: 'Roboto-Black';
    text-transform: uppercase;
}

.msgBox .innerbox .btns .btn {
    font-family: 'Roboto-Light';
}

.modules_panel .item {
    font-family: 'Poppins-Medium';
	text-transform: uppercase;
	letter-spacing: 1px;
}

.address_bar .address {
    font-family: 'Poppins-Light';
    text-transform: uppercase;
}

.cards .card .cardheader {
    text-transform: uppercase;
    font-family: 'Roboto-Black';
}

.cards .card .card_name {
    font-family: 'Roboto-Black';
}

.item_info .name span {
    font-family: 'Roboto-Bold';
}

.item_info .parent {
    font-family: 'Poppins-Light';
}

.item_info .pic_frame .del {
	font-family: 'Roboto-Medium';
}

.item_info .discount_sec .discpercent_input {
	font-family:'Roboto-Bold';
}

.item_info .groups {
    font-family: 'Roboto-Light';
}

.item_info .comments {
    font-family: 'Roboto-Light';
}

.orders_list .order_disk {
	font-family:'Roboto-Medium';
}

.choices .action_button {
	font-family:'Poppins-Bold';
}

.settings_page .settings_header {
	font-family: 'Poppins-Bold';
	text-transform: uppercase;
}

.onesetting .setting_title {
	font-family:'Poppins-Medium';
	text-transform: uppercase;
}

.orders_history .filters .filter_title {
	text-transform: uppercase;
	font-family: 'Poppins-Medium';
}

.orders_list_table tr th {
	font-family:'Roboto-Bold';
}

.ordermore .ordersection header {
	font-family:'Poppins-Medium';
	text-transform: uppercase;
}

.detailtables tr th {
	font-family:'Poppins-Light';
	text-transform: uppercase;
}

.orderinfo_header .infoicon, .orderinfo_header .infotitle, .orderinfo_header .factornumber {
	font-family: 'Poppins-Black';
	text-transform: uppercase;
}

.orderinfo_header .factornumber {
	font-family: 'Poppins-Black-Italic';
}

.orderinfo_header .factornumber>span {
	font-family:'Poppins-SemiBold-Italic';
}

.infoBox .order_box {
	font-family:'Roboto-Medium';
}

