@import"fonts-fa.css";

body {
	font-family: IRANSans, 'IRANSans', Tahoma;
	direction: rtl;
}

input, textarea, header, h1, h2, h3, h4, h5 {
    font-family: IRANSans, 'IRANSans', Tahoma;
}

select, button, li {
    font-family: iranyekan, 'iranyekan', Tahoma;
}

.owl-carousel .owl-item {
	font-family: iranyekan, 'iranyekan', Tahoma;
	float: right !important;
}

.modules_panel .item {
	font-size: 17px;
}

.header .emergency_call {
	float: left;
}

.header .user img {
    margin-left: 10px;
}

.header .emergency_call .tell {
    text-align: left;
}

.header .emergency_call .icon {
	margin-left: 0;
	margin-right: 10px;
}

.card .items .item .name {
	padding: 4px 0 0 0;
}

.connectioncheck {
	right: 5px;
}

.header .emergency_call .tell {
	font-family: IRANSansFA;
	direction: ltr;
}

.cards .card .batchicon {
    margin: 9px 5px 5px 0;
}

.card .items .item .name span {
	margin-right: 10px;
}

.item_info .head .btns {
	right: auto;
	left: 14px;
}

.item_info .head .btns div {
	margin-left: 0;
	margin-right: 5px;
}

.item_info .main_pic {
	padding: 0 0 0 7.5px;
}

.item_info .gallery_pics {
	padding: 0 7.5px 0 0;
}

.item_info .price_discount .mprice {
	right: auto;
	left: 1px;
}

.item_info .item_body input {
	padding: 8px 30px 8px 8px;
}

.item_info .price_discount #price_input {
	background-position: calc(100% - 2px) center;
}

.onesetting .setting_title {
	text-align: right;
}

.onesetting .setting_content {
	text-align: right;
}

.settings_page select {
	background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23FFF' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left 10px center;
	background-size: 8px 10px;
	transition: border-color 250ms cubic-bezier(.27,.01,.38,1.06),box-shadow 250ms cubic-bezier(.27,.01,.38,1.06);
	background-color: rgba(0,0,0,.1);
}

.settings_page select, .settings_page input, .settings_page textarea {
	font-size: 13px;
}