@font-face {
	font-family: 'Basker';
	src: url('./fonts/basker.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	src:url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: normal;
	src:url('./fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	src:url('./fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:url('./fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Lobster';
	src:url('./fonts/Lobster.otf') format('opentype');
}