@import"reset.css";
@import"fonts.css";

/* Global Settings (Please Do Not Change) */

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
	display:block;
}

* {
	box-sizing: border-box;
}

.clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
}

::selection {
	background: #ef4c71;
}

::-moz-selection {
	background: #ef4c71;
}

a {
	color: #fff;
	outline: none;
	text-decoration: underline;
}

a:hover {
	opacity: 0.5;
}

html,
body {
	height:100%;
	width:100%;
}

body {
	font-family: roboto, 'roboto', Tahoma;
	color: #252525;
	background-color: #fff;
	direction: ltr;
}

input, textarea, form select, button {
	font-family: roboto, 'roboto', Tahoma;
}

hr {
	border: none;
	height: 1px;
	background: rgba(0,0,0,0.2);
}

button {
	font-family: 'roboto';
	background: none;
	border: none;
	cursor: pointer;
}

header, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster';
}

.container {
	position: relative;
	width: 980px;
	margin: 0px auto;
}

.header {
	background-image: radial-gradient(circle at 0% 0%, #424242, #252525 60%);
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	overflow: hidden;
}

.header .logo {
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translateX(-50%);
	width: 50%;
	height: 20%;
	background: transparent url('./images/logo.png') center center no-repeat;
	background-size: contain;
}

.header .system-demo {
	position: absolute;
	height:85%;
	right: 0;
	width: 100vw;
	z-index: 3;
	overflow: hidden;
	transition: opacity 0.7s, visibility 0.7s;
}

.header .system-demo .plate {
	position: absolute;
	top: 28%;
	left: 0;
	width: 65%;
	height: 60vh;
	background: transparent url('./images/image01.png') center center no-repeat;
	background-size: contain;
	transition: transform 2s;
}

.header .system-demo .plate.change {
	transform: translateX(-100%);
}

.header .system-demo .device {
	position: absolute;
	top: 28%;
	right: 0;
	width: 55%;
	height: 60vh;
	background: transparent url('./images/iPad.png') center center no-repeat;
	background-size: contain;
	transition: transform 2s;
}

.header .system-demo .device.change {
	transform: translateX(100%);
}

.header .system-demo.deactive {
	opacity: 0;
	visibility: hidden;
}

.header .menubox {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	overflow: hidden;
	transition: width 1s;
}

.header .menubox .bg {
	position: absolute;
	top: 50%;
	right: 0;
	width: 200vw;
	height: 200vh;
	transform: rotate(20deg) translateX(72.7%) translateY(-75%);
	background-image: linear-gradient(45deg, #ff5222, #ff283f 70%);
	box-shadow: inset 20px 0px 50px rgba(0,0,0,.5);
	z-index: -1;
	transition: all 1s;
}

.header .menubox.active .bg {
	transform: rotate(20deg) translateX(50%) translateY(-75%);
}

.menubox .navigation {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(50%, -50%);
	color: #fff;
	text-align: center;
	transition: all 0.15s;
}

.menubox .navigation ul {
	font-size: 21px;
	text-transform: uppercase;
	list-style-type: none;
	font-weight: 500;
	letter-spacing: 2px;
}

.menubox .navigation ul li {
	padding: 10px;
	margin: 20px auto;
}

.menubox .navigation.active {
	opacity: 1;
	visibility: visible;
	transition: all 0.15s linear 0.8s;
}

.menubox .langswitch {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 50%;
	bottom: 20px;
	transform: translate(50%, 0);
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	transition: all 0.15s;
}

.menubox .langswitch.active {
	opacity: 1;
	visibility: visible;
	transition: all 0.15s linear 0.8s;
}

.header .hamburgermenu {
	position: absolute;
	right: 40px;
	top: 30px;
	z-index: 4;
	transition: all 0.15s;
	cursor: pointer;
}

.header .hamburgermenu:hover {
	right: 30px;
}

.header #hamburgermenu .centerline {
	height: 2px;
	width: 40px;
	background: #fff;
	display: inline-block;
}

.header #hamburgermenu .centerline:before {
	content: "";
	position: absolute;
	top: 21px;
	height: 2px;
	width: 40px;
	background: #fff;
	transition: all 0.15s;
}

.header #hamburgermenu .centerline:after {
	content: "";
	position: absolute;
	top: 10.5px;
	height: 2px;
	width: 40px;
	background: #fff;
	transition: all 0.15s;
}

.header #hamburgermenu:hover {
	transform: translateX(-6px);
}

.header #hamburgermenu:hover .centerline:before {
	transform: translateX(-12px);
}

.header #hamburgermenu:hover .centerline:after {
	transform: translateX(-6px);
}

#hamburgermenu.active {
}

#hamburgermenu.active .centerline {
	transform: rotate(45deg) translateY(10px);
=}

#hamburgermenu.active .centerline:before {
	transform: rotate(90deg) translateX(-20px);
}

#hamburgermenu.active .centerline:after {
	height: 0;
}

#hamburgermenu.active:hover {
	transform: rotate(0deg) translateX(0px);
}

#hamburgermenu.active:hover .centerline:before {
	transform: rotate(90deg) translateX(-20px);
}

#hamburgermenu.active:hover .centerline:after {
	height: 0;
}

.header .learnmore {
	font-weight: 300;
	text-transform: uppercase;
	font-style: italic;
	font-size: 18px;
	letter-spacing: 3px;
	color: #fff;
	position: absolute;
	text-align: center;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	padding-bottom: 50px;
	cursor: pointer;
	height: 80px;
	transition: all 0.7s;
}

.header .learnmore .text {
	
}

.header .learnmore .arrow {
	background: transparent url('./images/icons/arrow.svg') center center no-repeat;
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 40px;
	margin: 10px auto;
	display: block;
	transition: all 0.3s;
}

.header .learnmore .text {
	transition: all 0.3s;
}

.header .learnmore:hover .text {
	margin-top: 30px;
}

.header .learnmore:hover .arrow {
	margin-top: -30px;
}

.header .learnmore.deactive {
	opacity: 0;
	visibility: hidden;
}

.intro-video {
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.intro-video .video-box {
	height: 100%;
	width: 100%;
	z-index: -1;
}

.intro-video .video-box video {
	width: 100%;
	height: auto;
}

.intro-video .video-overlay {
	position: absolute;
	top: 50%;
	right: 0;
	width: 50%;
	height: 200%;
	transform: translateY(-50%);
	background: rgba(0,0,0,.5);
	z-index: 10;
	border-top-left-radius: 1000px;
	border-bottom-left-radius: 1000px;
}

.intro-video .video-overlay .inner-text {
	color: #fff;
	position: absolute;
	height: 100%;
	width: 100%;
	right: 0;
	text-align: left;
	font-size: 17px;
	overflow: hidden;
	font-weight: 300;
}

.intro-video .video-overlay .inner-text span {
	position: absolute;
	width: 100%;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 20%;
	letter-spacing: 1px;
}

.intro-video .video-overlay .inner-text span h2 {
	padding: 20px 0;
	font-size: 36px;
	letter-spacing: 0px;
	text-decoration: underline;
}

.features-box {
	padding: 0;
}

.features-box .feature {
	min-height: 100vh;
	overflow: hidden;
	padding: 60px;
}

.features-box .feature.rightside {
	text-align: right;
}

.features-box .feature header {
	font-family: roboto, 'roboto', Tahoma;
	font-weight: 700;
	font-size: 82px;
	text-transform: uppercase;
	padding: 50px 0px 50px 160px;
	position: relative;
}

.features-box .feature.rightside header {
	padding: 50px 160px 100px 0px;
}

.features-box .feature header:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 150px;
	height: 150px;
	background: transparent url('./images/icons/menew-icon.png') center center no-repeat;
	background-size: contain;
	pointer-events: none;
}

.features-box .feature.rightside header:before {
	right: 0;
	left: auto;
	transform: translateY(-68%);
}

.features-box .feature .feature-desc {
	font-weight: 300;
	width: 80%;
	font-size: 19px;
	line-height: 22px;
}

.features-box .feature.rightside .feature-desc {
	float: right;
}

.feature#newmenu {
	padding: 60px 30% 60px 40px;
	background: #fff url('./images/feature-bg01.jpg') 92% 70% no-repeat;
	background-size: auto 80%;
	background-attachment: fixed;
}

.feature#foodinfo {
	background: #000 url('./images/feature-bg02.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.feature#knowledge {
	background: #000 url('./images/feature-bg07.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.feature#ucontent {
	background: #000 url('./images/feature-bg06.jpg') 5% bottom no-repeat;
	background-size: auto 80%;
	background-attachment: fixed;
	color: #fff;
}

.feature#buymode {
	background: #000 url('./images/feature-bg04.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.feature#ucontent .feature-desc {
	width: 60%;
}

.contactsection {
	width: 100%;
	background: transparent url('./images/contact-bg.png') center center repeat;
	background-attachment: fixed;
	color: #252525;
	padding: 50px 0;
}

.contactsection .headtitle {
	text-transform: uppercase;
	padding: 30px 50px;
	font-size: 82px;
	font-weight: 700;
}

.contactsection .contactbox {
	width: 90%;
	min-height: 200px;
	border: 15px solid #252525;
	background: #fff;
	margin: 20px auto;
	padding: 80px 5%;
}

.contactbox .contactform {
	width: 100%;
	text-align: center;
}

.contactform .errorbox {
	color: #ff3933;
	margin: 0px auto 30px auto;
	border: 2px solid #ff3933;
	font-weight: 400;
	padding: 10px;
	text-transform: uppercase;
	display: none;
}

.contactform .errorbox.show {
	display: inline-block;
}

.contactform .inputer {
	width: 47%;
	margin: 20px 1%;
	display: inline-block;
	position: relative;
}

.contactform .inputer.textarea {
	width: 96%;
	margin: 40px 2% auto;
}

.contactform .inputer input {
	width: 100%;
	border: none;
	padding: 15px 5px;
	transition: all 0.3s;
	background: linear-gradient(to left, #252525, #252525) left bottom no-repeat; 
	background-size:100% 2px;
}

.contactform .inputer textarea {
	width: 100%;
	border: none;
	padding: 10px 15px;
	transition: all 0.3s;
	border: 2px solid #252525;
	min-height: 300px;
}

.contactform .inputer textarea.shrink {
	border: 2px solid #ff3933;
}

.contactform .inputer input.shrink {
	background: linear-gradient(to left, #ff8400,#ff005a) left bottom no-repeat; 
	background-size:100% 2px;
}

.contactform .inputer .placeholder {
	position: absolute;
	left: 0;
	top: 15px;
	text-transform: uppercase;
	pointer-events: none;
	font-size: 18px;
	transition: all 0.3s;
}

.contactform .inputer.textarea .placeholder {
	left: 20px;
	top: 22px;
}

.contactform .inputer .placeholder.shrink {
	top: -15px;
	font-size: 15px;
	color: #ff3933;
}

.contactform .inputer.textarea .placeholder.shrink {
	top: -20px;
}

.contactform button {
	text-transform: uppercase;
	border: 2px solid #252525;
	border-radius: 0;
	font-weight: 500;
	font-size: 20px;
	padding: 16px 66px;
	margin: 40px auto 10px auto;
	position: relative;
	overflow: hidden;
	transition: all 0.8s;
}

.contactform button:hover {
	border: 2px solid #ff3933;
	color: #fff;
}

.contactform button .txt {
	position: relative;
	z-index: 5;
	transition: all 0.8s;
}

.contactform button .bgbox {
	content: '';
	position: absolute;
	background: #ff3933;
	transform: rotate(45deg) translate(-50%,-50%);
	width: 400px;
	height: 400px;
	left: 120%;
	top: 50%;
	z-index: 3;
	transition: all 0.8s;
}

.contactform button:hover .bgbox {
	left: -15%;
}

.footer {
	width: 100%;
	min-height: 100px;
	padding: 5px 0;
	text-align: center;
	background: #252525;
	color: #fff;
}

.footer .socialmedias {
	
}

.footer .socialmedias .socialmedia {
	background: #fff;
	border-radius: 200px;
	width: 100%;
	text-align: center;
	margin: 20px auto;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.footer .socialmedias .socialmedia:hover {
	border-radius: 5px;
}

.footer .socialmedias .socialmedia#insta {
	width: 60px;
	height: 60px;
	background: #fff url('./images/icons/instagram.svg') center center no-repeat;
	background-size: 50% auto;
	margin: 10px auto;
	display: inline-block;
}


.footer .contact-breaf {
	margin: 10px auto;
	font-weight: 500;
	line-height: 28px;
}


.footer .copyright {
	font-weight: 300;
	font-size: 13px;
	margin: 60px auto 5px auto;
}

.layerpopup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,.8);
	z-index: 14;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

.layerpopup.show {
	visibility: visible;
	opacity: 1;
}

.msgpopup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255,255,255,0.9);
	border-radius: 20px;
	min-width: 50px;
	min-height: 50px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	padding: 20px;
	z-index: 15;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

.msgpopup.show {
	visibility: visible;
	opacity: 1;
}

.msgpopup img {
	width: 50px;
	height: 50px;
}


/* Responsive Codes */

@media (min-width: 992px) and (max-width: 1200px) {
	.header .system-demo .device { width: 45%; }
	.header .system-demo .plate { width: 35%; left: 5%; }
	.header .system-demo .device.change { transform: translateX(150%); }
	.header .system-demo .plate.change { transform: translateX(-150%); }
}

@media (min-width: 768px) and (max-width: 991px) {
	.header .system-demo .device { width: 45%; }
	.header .system-demo .plate { width: 35%; left: 5%; }
	.header .system-demo .device.change { transform: translateX(150%); }
	.header .system-demo .plate.change { transform: translateX(-150%); }
	.features-box .feature header { font-size: 48px; }
	.feature#newmenu { background-size: auto 35%; }
	.feature#ucontent { background-size: auto 35%; }
	.contactsection .headtitle { font-size: 48px; }
	.contactform .inputer .placeholder { font-size: 16px; }
	.contactform .inputer .placeholder.shrink { font-size: 13px; }
	.contactform button { font-size: 18px; }
}

@media (min-width: 479px) and (max-width: 767px) {
	.header .system-demo .device { width: 35%; }
	.header .system-demo .plate { width: 35%; left: 2%; }
	.header .system-demo .device.change { transform: translateX(150%); }
	.header .system-demo .plate.change { transform: translateX(-150%); }
	.menubox .navigation ul { font-size: 17px; letter-spacing: 1px; }
	.intro-video .video-overlay .inner-text { font-size: 13px; }
	.intro-video .video-overlay .inner-text span h2 { font-size: 30px; }
	.features-box .feature header { font-size: 40px; }
	.contactsection .headtitle { font-size: 40px; }
	.contactform .inputer .placeholder { font-size: 14px; }
	.contactform .inputer .placeholder.shrink { font-size: 11px; }
	.contactform button { font-size: 16px; }
	.features-box .feature .feature-desc { font-size: 17px; }
}

@media (max-width: 478px) {
	.header .system-demo .device { width: 45%; }
	.header .system-demo .plate { width: 45%; left: 2%; }
	.header .system-demo .device.change { transform: translateX(150%); }
	.header .system-demo .plate.change { transform: translateX(-150%); }
	.header .logo { height: 100px; width: 180px; top: 10px; left: 5%; transform: translateX(0%); }
	.header .hamburgermenu { top: 36px; }
	.header .learnmore { font-size: 15px; }
	.header .learnmore .arrow { height: 30px; }
	.menubox .navigation ul { font-size: 16px; letter-spacing: 1px; }
	.intro-video .video-overlay .inner-text { font-size: 11px; }
	.intro-video .video-overlay .inner-text span h2 { font-size: 22px; }
	.features-box .feature header { font-size: 26px; }
	.contactsection .headtitle { font-size: 26px; }
	.contactform .inputer .placeholder { font-size: 14px; }
	.contactform .inputer .placeholder.shrink { font-size: 11px; }
	.contactform button { font-size: 16px; }
	.features-box .feature .feature-desc { font-size: 17px; }
	.features-box .feature header::before { width: 100px; height: 100px; }
	.features-box .feature header { padding: 30px 0 30px 110px; }
	.feature#newmenu { padding: 30px; }
	.features-box .feature.rightside header { padding: 30px 110px 30px 0px; }
	.features-box .feature .feature-desc { width: 100%; }
	.contactform .inputer { width: 100%; }
	.contactsection .contactbox { padding: 20px; }
	.footer .contact-breaf { font-size: 15px; }
	.footer .copyright { font-size: 10px; }
}

@media screen and (orientation:portrait) {
	.header .system-demo .device { width: 60%; }
	.header .system-demo .plate { width: 60%; }
	.header .system-demo .device.change { transform: translateX(150%); }
	.header .system-demo .plate.change { transform: translateX(-150%); }
	.intro-video { display: none; }
	.features-box .feature { height: auto; min-height: auto; }
	.header .menubox .bg { transform: rotate(0deg) translateX(100%) translateY(0%); top: 0; height: 100%; width: 100%; }
	.header .menubox.active .bg { transform: rotate(0deg) translateX(0%) translateY(0%); }
	.feature#newmenu { background-attachment: scroll; background-position: 50% 5% !important; background-size: 350px auto !important; padding-top: 450px }
	.feature#ucontent { background-attachment: scroll; background-position: 20% -5% !important; background-size: 470px auto !important; padding-top: 280px; }
	.feature#ucontent .feature-desc { width: 100%; }