.lazy-load-animation-resy{
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: skeletonLoading;
    animation-timing-function: linear;
    background: #eaeaea;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eee), color-stop(18%, #ddd), color-stop(33%, #eee));
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 800px 100%;
    height: 100%;
}
@keyframes skeletonLoading {
	0% {
    	background-position: -400px 0; 
	}
	100% {
		background-position: 400px 0; 
	} 
}
.header_area_custome{
	background-color: white !important;
}
.header_area_custome *{
	color: #777 !important;
}
.header_area_custome *:hover{
	color: #000 !important;
}
.color-synegry{
	color: rgb(59, 132, 25);
}
.special_description_content h2{
	color: rgb(59, 132, 25) !important;
}
.section-heading h2{
	color: rgb(59, 132, 25) !important;
}
.single-special h4{
	color: rgb(59, 132, 25) !important;
}
.footer-text h2{
	color: rgb(59, 132, 25) !important;
}
.get-start-area{
	margin-top: 60px;
}
.get-start-area .email{
	background: white !important;
	box-shadow: 0px 0px 10px rgb(59, 132, 25);
	color: black;
}
.sing-up-button > a{
	border: 2px solid rgb(59, 132, 25);
}
.cool_facts_area{
	background: linear-gradient(to left, rgb(59, 132, 25), rgb(57, 216, 38))
}
.our-monthly-membership{
	background: linear-gradient(to left, rgb(155, 237, 114), rgb(57, 216, 38));
}
/*.features-custom{
	float: right;
}*/
.display-none{
	display: none !important;
}
*{
	font-family: 'Roboto', sans-serif;
}
.iframe{
	border: none;
	width: 100%;
	height: 500px;
	margin: -30px;
}
.m-datatable__cell span{
	max-height: 120px !important;
}
.m-login.m-login--1 .m-login__wrapper
{
	padding-top: 0px;
}
.m-login .invalid-feedback{
	display: block !important;
}
.margin-bottom-20{
	margin-bottom: 20px !important;
}
.margin-top-20{
	margin-top: 20px !important;
}
.padding-0{
	padding: 0px !important;
}
.padding-20{
	padding: 20px !important;
}
.col-seperate{
	/*margin-bottom: 20px;*/
	min-height: 20px;
	border: 1px dotted #aaa;
}
.title-in-middle{
	text-align: center;
	font-size: 30px;
	color: #666;
	padding: 10px;
}
